#mainafter {position:absolute;    z-index: 9;}
#mainafter.open {  opacity: 1;   visibility: visible;  -webkit-transition: opacity 0.2s ease-out, visibility 0s 0s;  transition: opacity 0.2s ease-out, visibility 0s 0s;}
#header .head-cats .cats {display:block; min-height:400px; opacity:0;}
#header .head-cats .cats.hid {display:none; opacity:1;}
#header.open .head-cats .cats {display:block; opacity:1;}
#header .head-cats .cats li .drop {display:block;}
#header .head-cats .cats li.active .drop {display: block !important;}
#header .head-cats .cats li ul li a {display:inline;}
#header .head-cats .cats li ul li.active > a {background:transparent;}