.jq-checkbox{top:0px;left:0px;width:20px;height:20px;border:1px solid #ececec;background:#fff;vertical-align:middle;cursor:pointer;overflow:visible !important;margin-right:11px;}
.jq-checkbox__div{position:absolute;top:-3px;left:3px;z-index:1;}
.jq-checkbox.checked{background:#ffde66; border:1px solid #f1d25f;}
.jq-checkbox.checked .jq-checkbox__div{background:url(../img/ico10.png) no-repeat; width:19px;height:19px;}
.jq-checkbox.disabled{opacity:0.55;}

.jq-radio{width:20px;height:20px;display:block;margin:0 auto;border-radius:50%;background:#fff;border:1px solid #ececec;vertical-align:middle;cursor:pointer;margin-right:11px;top:-2px;}
.jq-radio .jq-radio__div{width:5px;height:5px;margin:3px 0 0 3px;border-radius:50%;}
.jq-radio.checked .jq-radio__div{background:#de007b;}
.jq-radio.disabled{opacity:0.55;}
.jq-file{width:450px;float:right;height:36px;}
.jq-file input{cursor:pointer;height:auto;line-height:1em;}
.jq-file__name{-moz-box-sizing:border-box;box-sizing:border-box;width:100%;height:36px;padding:0 156px 0 0px;text-align:right;color:#333;font:0px/36px Arial, sans-serif;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;background:#FFF;border:none;font-family:'oswald',sans-serif;font-weight:300;}
.changed .jq-file__name{font-size:14px;}
.jq-file__browse{position:absolute;top:0px;right:0px;padding:0 10px;font-size:14px;border-radius:4px;background:#F1F1F1;width:146px;color:#fff;line-height:36px;text-align:center;height:36px;font-family:'oswald',sans-serif;background:#365375;}
.jq-file:hover .jq-file__browse{background-color:#5d707e;}
.jq-file.disabled .jq-file__name{color:#888;}
.jq-file.disabled,.jq-file.disabled .jq-file__browse{border-color:#CCC;background:#F5F5F5;box-shadow:none;color:#888;}

.jq-selectbox{vertical-align:middle;cursor:pointer;margin-left:0px;width:100%;}
.jq-selectbox select {opacity:0;}
.jq-selectbox__select{height: 50px;    font-size: 14px;    line-height: 50px;    padding: 0 2rem 0 1.3rem;color:#000000;border:1px solid #181818; background-color:#fff; }
.jq-selectbox.disabled .jq-selectbox__select{border-color:#CCC;background:#F5F5F5;box-shadow:none;color:#888;}
.jq-selectbox__select-text{display:block;min-width:100%;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.jq-selectbox__trigger{position:absolute;top:0;right:0;width:21px;height:100%;}
.jq-selectbox__trigger-arrow{position:absolute;top:50%;margin-top:-4px;right:19px;overflow:hidden;  width:12px;    height:7px;background:url(../img/arr1.png) no-repeat;  }
.jq-selectbox__dropdown{top:50px; width:100%;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;background:#fff;min-width:100%;
color:#000; font-size: 14px;    line-height: 3.25rem;  overflow:hidden;border:1px solid #ececec;}
.jq-selectbox__search{margin:5px;}
.jq-selectbox__search input{-moz-box-sizing:border-box;box-sizing:border-box;width:100%;margin:0;padding:5px 27px 6px 8px;outline:none;border:1px solid #CCC;border-radius:3px;box-shadow:inset 1px 1px #F1F1F1;color:#333;-webkit-appearance:textfield;}
.jq-selectbox__search input::-webkit-search-cancel-button,.jq-selectbox__search input::-webkit-search-decoration{-webkit-appearance:none;}
.jq-selectbox__not-found{margin:5px;padding:5px 8px 6px;background:#F0F0F0;font-size:13px;}
.jq-selectbox ul{overflow:visible !important;margin:0;padding:0;}
.jq-selectbox li.placeholder{display:none !important;}
.jq-selectbox li{min-height:14px;padding:0px 1rem 0px 1rem;    overflow: hidden;    text-overflow: ellipsis;}
.jq-selectbox li.selected, .jq-selectbox li.sel{background-color:#f5f5f5;}
.jq-selectbox li:hover{background-color:#f5f5f5;}
