.range_slider {      padding-bottom: 0px;}
.range_slider .checks:after {content:'';display:block;clear:both; }
.range_slider .check {float:left; width:50%;  }
.range_slider .check + .check {    float: right;    width: 45%;}
.range_slider .check label {color:#292929;}
.range_slider p {margin-bottom: 0;}
.range_slider p:after {content:'';display:block;clear:both;}
.range-btn {display:block; width:22px; height:30px;cursor:pointer; border:none;}
#minCost, #maxCost { padding:0px 9px;  float:left;    width:48%; height:30px;line-height:28px; border:1px solid #ececec;background:#fff; font-size:14px;  }
#minCost{  }
#maxCost {  margin-left: 4%;}
.range_slider .placeholder {color:#b5b5b5;}

#filter-slider {margin: 20px 0 13px;}
.ui-slider {	position: relative;}
.ui-slider .ui-slider-handle {    -webkit-transition: all 0s ease-out;border:none;    transition: all 0s ease-out;	position: absolute;	z-index: 2;	cursor: pointer;width: 10px;height: 26px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius:3px;background:#fff;}
.ui-slider .ui-slider-range {	position: absolute;	z-index: 1;	font-size: .7em;	display: block;	border: 0;	overflow: hidden;	}
.ui-slider-horizontal {	 height: 10px; }
.ui-slider-horizontal .ui-slider-handle { 	top: -9px;	margin-left: -5px;}
.ui-slider-horizontal .ui-slider-range {	top: -1px;	height: 10px;}
.ui-slider-horizontal .ui-slider-range-min { 	left: 0;}
.ui-slider-horizontal .ui-slider-range-max {	right: 0;}

.ui-widget-content { 	background:#ececec;	border:1px solid #e5e5e5;}
.ui-widget-header { 	background:#ffde66; border:1px solid #f1d25f;}

.filter-slider-bot {}
.filter-slider-bot > span {font-size:12px;color:#b5b5b5;    margin-bottom: 15px;}