@charset "UTF-8";
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto Medium.eot");
  src: url("../fonts/Roboto Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto Medium.woff") format("woff"), url("../fonts/Roboto Medium.ttf") format("truetype"), url("../fonts/Roboto Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-2044; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto.eot");
  src: url("../fonts/Roboto.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto.woff") format("woff"), url("../fonts/Roboto.ttf") format("truetype"), url("../fonts/Roboto.svg#Roboto") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-2044; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto Bold.eot");
  src: url("../fonts/Roboto Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto Bold.woff") format("woff"), url("../fonts/Roboto Bold.ttf") format("truetype"), url("../fonts/Roboto Bold.svg#Roboto-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-2044; }
/* constants */
/*$widthMax:1710px;*/
/* ___________ reset CSS____________________*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box; }

html, body, div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit; }

a, p, ul, ol, li, img, span, strong, em {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit; }

table, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit; }

applet, object, iframe, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, font, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, caption, fieldset, form, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit; }

article, aside, figure, footer, header, hgroup, section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit; }

canvas, details, embed, figcaption, menu, nav, output, ruby, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

b, strong {
  font-weight: bold; }

em, i {
  font-style: italic; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1; }

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-bottom: 20px; }

ol {
  list-style: decimal; }

ul {
  list-style: disc; }

ul ul, ol ol {
  padding-top: 0.5em; }

dt {
  font-size: 18px;
  margin: 0; }

dd {
  padding-left: 10px;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 20px; }

html {
  height: 100%;
  background: #fff; }

input[type="submit"], textarea, button {
  -webkit-appearance: none; }

img {
  border: none;
  max-width: 100%;
  vertical-align: middle; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.clear {
  clear: both;
  position: relative;
  height: 1px;
  overflow: hidden; }

img.alignleft {
  float: left;
  margin: 3px 28px 10px 0px; }

.alignright {
  text-align: right; }

img.alignright {
  float: right;
  margin: 3px 0px 10px 28px; }

.aligncenter {
  text-align: center; }

img.alignnone {
  margin-bottom: 14px; }

/*-----------------------------------*/
body {
  font-size: 14px;
  font-family: "Roboto", arial, verdana, sans-serif;
  line-height: 1.45;
  color: #5b5b5b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  height: 100%;
  position: relative;
  -webkit-text-size-adjust: none; }

a {
  color: #010101;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
  border-bottom: 1px solid transparent; }

a:hover {
  border-color: #a9a9a9; }

h1, .h1 {
  margin: 0 0 24px;
  font-weight: 900;
  line-height: 1.25;
  font-size: 46px;
  color: #000000; }

h2 {
  margin: 0 auto 29px;
  font-weight: 900;
  line-height: 1.25;
  font-size: 38px;
  color: #1e1e1e; }

h3 {
  margin: 0 0 19px;
  font-weight: 900;
  line-height: 1.25;
  font-size: 24px;
  color: #010101; }

.main-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 480px;
  overflow: hidden;
  min-height: 100%; }

.wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px; }

.wrapper:after, section:after {
  content: '';
  display: block;
  clear: both; }

/*--------------- header ------------------*/
#header {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: background 0.3s ease-out;
          transition: background 0.3s ease-out; }
  #header.fix {
    min-width: 480px;
    position: fixed;
    background: #fff;
    top: -170px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
    #header.fix .fix-right {
      display: block; }
      #header.fix .fix-right .h-comp, #header.fix .fix-right .h-user, #header.fix .fix-right .head-bask {
        background: #ffdb00; }
    #header.fix .head-cats .cats {
      top: 60px; }
    #header.fix .head-search {
      margin-right: 160px; }
  #header .fix-right {
    float: right;
    display: none; }
    #header .fix-right .head-bask {
      position: relative;
      z-index: 2;
      float: left;
      height: 60px;
      line-height: 60px;
      background: #ececec;
      margin-left: 1px;
      border: none;
      width: 51px;
      text-align: center; }
      #header .fix-right .head-bask:before {
        margin: 7px 0px 0 0;
        vertical-align: middle;
        content: '';
        display: inline-block;
        width: 22px;
        height: 21px;
        background: url(../img/ico4.png) no-repeat center;
        background-size: 18px; }
      #header .fix-right .head-bask span {
        margin: 0;
        position: absolute;
        top: 6px;
        right: 8px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        color: #fff;
        background: #ff082a;
        font-size: 10px;
        line-height: 18px; }
        #header .fix-right .head-bask span.emp {
          color: #b5b5b5;
          background: #ececec; }
  #header .head-top {
    background: #f5f5f5;
    height: 60px;
    position: relative;
    z-index: 6; }
    #header .head-top:after {
      content: '';
      display: block;
      clear: both; }
    #header .head-top .logo {
      display: none; }
    #header .head-top .top-nav {
      float: left;
      margin: 0; }
      #header .head-top .top-nav li {
        display: inline-block;
        list-style: none;
        line-height: 53px;
        margin-top: 7px;
        margin-right: 28px; }
        #header .head-top .top-nav li a {
          border-bottom: 1px solid #a3a3a3;
          display: inline-block;
          line-height: 1; }
          #header .head-top .top-nav li a:hover {
            border-color: transparent; }
    #header .head-top .head-bask {
      position: relative;
      z-index: 2;
      float: left;
      height: 60px;
      line-height: 60px;
      background: #ececec;
      margin-left: 1px;
      border: none;
      width: 51px;
      text-align: center; }
      #header .head-top .head-bask:before {
        margin: 7px 0px 0 0;
        vertical-align: middle;
        content: '';
        display: inline-block;
        width: 22px;
        height: 21px;
        background: url(../img/ico4.png) no-repeat center;
        background-size: 18px; }
      #header .head-top .head-bask span {
        margin: 0;
        position: absolute;
        top: 6px;
        right: 8px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        color: #fff;
        background: #ff082a;
        font-size: 10px;
        line-height: 18px; }
        #header .head-top .head-bask span.emp {
          color: #b5b5b5;
          background: #ececec; }
  #header .head-right {
    float: right; }
  #header .h-user {
    position: relative;
    z-index: 2;
    float: left;
    height: 60px;
    line-height: 60px;
    background: #ececec;
    width: 51px;
    text-align: center;
    margin-left: 1px;
    border: none; }
    #header .h-user:before {
      content: '';
      display: inline-block;
      width: 11px;
      height: 13px;
      margin: 8px 0px 0 0;
      vertical-align: middle;
      background: url(../img/ico3.png) no-repeat center; }
  #header .h-comp {
    position: relative;
    z-index: 2;
    float: left;
    height: 60px;
    line-height: 60px;
    background: #ececec;
    width: 51px;
    text-align: center;
    margin-left: 1px;
    border: none;
    position: relative; }
    #header .h-comp:before {
      content: '';
      display: inline-block;
      width: 7px;
      height: 14px;
      margin: 7px 4px 0 0;
      vertical-align: middle;
      background: url(../img/ico2.png) no-repeat center; }
    #header .h-comp span {
      position: absolute;
      top: 6px;
      right: 8px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      color: #fff;
      background: #ff082a;
      font-size: 10px;
      line-height: 18px; }
      #header .h-comp span.emp {
        color: #b5b5b5;
        background: #ececec; }
  #header .h-place {
    float: left;
    height: 60px;
    line-height: 60px;
    background: #ececec;
    z-index: 1;
    position: relative; }
    #header .h-place .jq-selectbox__select {
      height: 53px;
      margin-top: 7px;
      line-height: 53px;
      color: #292929;
      border: none;
      background: url(../img/ico1.png) no-repeat 20px center;
      padding: 0 40px 0 39px; }
      #header .h-place .jq-selectbox__select .jq-selectbox__select-text {
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
        border-bottom: 1px dotted #8a8a8a; }
    #header .h-place .jq-selectbox__dropdown {
      top: 59px; }
    #header .h-place select {
      opacity: 0; }
    #header .h-place:hover .jq-selectbox__select .jq-selectbox__select-text {
      border-color: transparent; }
  #header .head-mid {
    height: 110px;
    background: #fff;
    text-align: center;
    padding: 35px 0 30px; }
    #header .head-mid:after {
      content: '';
      display: block;
      clear: both; }
    #header .head-mid .logo {
      width: 190px;
      line-height: 0;
      font-size: 0;
      float: left;
      margin: 7px 23px 0 2px;
      border: none; }
    #header .head-mid .head-phone {
      display: inline-block;
      vertical-align: middle;
      color: #b5b5b5;
      font-size: 12px;
      margin-right: 9px; }
      #header .head-mid .head-phone .phone-link {
        color: #000000;
        font-size: 20px;
        margin-right: 18px;
        border: none; }
      #header .head-mid .head-phone span {
        display: inline-block;
        vertical-align: middle;
        margin-top: -7px; }
    #header .head-mid .head-links {
      display: inline-block;
      vertical-align: middle; }
      #header .head-mid .head-links .q-link {
        display: inline-block;
        vertical-align: middle;
        margin: 5px 0 5px 16px; }
    #header .head-mid .h-cov {
      float: right; }
  #header .head-bask {
    position: relative;
    z-index: 2;
    float: right;
    color: #000000;
    border: none;
    line-height: 40px; }
    #header .head-bask:before {
      margin: -1px 12px 0 0;
      vertical-align: middle;
      content: '';
      display: inline-block;
      width: 22px;
      height: 21px;
      background: url(../img/ico4.png) no-repeat center; }
    #header .head-bask span {
      content: '';
      display: inline-block;
      border-radius: 50%;
      font-size: 10px;
      color: #fff;
      background: #ff082a;
      width: 18px;
      height: 18px;
      text-align: center;
      line-height: 18px;
      vertical-align: top;
      margin: 3px 0 0 10px; }
      #header .head-bask span.emp {
        color: #b5b5b5;
        background: #ececec; }
  #header .head-bot {
    background: #ffc800;
    position: relative;
    height: 60px;
    z-index: 4; }
    #header .head-bot:after {
      content: '';
      display: block;
      clear: both; }
    #header .head-bot:before {
      background: #292929;
      content: '';
      width: 50%;
      top: 0;
      left: 0;
      position: absolute;
      bottom: 0; }
    #header .head-bot .wrapper {
      position: relative;
      z-index: 1; }
  #header .head-cats {
    float: left;
    height: 60px;
    width: 220px;
    position: relative;
    z-index: 100; }
    #header .head-cats .cat-name {
      color: #ffc800;
      font-weight: 500;
      font-size: 16px;
      line-height: 60px;
      cursor: pointer;
      position: relative;
      z-index: 150; }
      #header .head-cats .cat-name:before {
        content: '';
        display: inline-block;
        width: 22px;
        height: 12px;
        margin: 0 19px 0 0;
        background: url(../img/bg3.png) no-repeat center; }
      #header .head-cats .cat-name:after {
        content: '';
        display: inline-block;
        width: 14px;
        height: 8px;
        margin: 0 0px 0 20px;
        background: url(../img/arr2.png) no-repeat center; }
    #header .head-cats .cats {
      position: relative;
      z-index: 150;
      list-style: none;
      display: none;
      background: #fff;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 60px;
      overflow: hidden;
      overflow-y: auto;
      left: 0%;
      margin-bottom: 0;
      width: 910px; }
      #header .head-cats .cats > ul {
        position: relative;
        padding: 20px 0;
        margin: 0;
        min-height: 100%; }
        #header .head-cats .cats > ul:after {
          content: '';
          position: absolute;
          left: 330px;
          top: 0;
          bottom: 0;
          width: 20px;
          z-index: 10;
          background-image: -webkit-linear-gradient(right, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
          background-image: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.2) 100%); }
      #header .head-cats .cats li {
        width: 330px; }
        #header .head-cats .cats li a {
          display: block;
          padding: 0 20px;
          line-height: 29px;
          font-size: 14px;
          color: #292929;
          position: relative;
          border: none; }
          #header .head-cats .cats li a:after {
            content: '';
            border-right: 1px solid #b3b3b3;
            border-bottom: 1px solid #b3b3b3;
            width: 7px;
            height: 7px;
            right: 11px;
            top: 11px;
            -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
            position: absolute; }
        #header .head-cats .cats li .drop {
          display: none;
          width: 581px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 330px;
          background: #fff;
          z-index: 1;
          padding: 20px 20px 380px; }
          #header .head-cats .cats li .drop h4 {
            font-weight: 500;
            font-size: 18px;
            color: #000000;
            margin-bottom: 9px; }
        #header .head-cats .cats li .drop-img {
          height: 350px;
          line-height: 350px;
          left: 20px;
          right: 20px;
          bottom: 33px;
          text-align: center;
          position: absolute; }
        #header .head-cats .cats li ul {
          -webkit-column-count: 2;
             -moz-column-count: 2;
                  column-count: 2;
          -webkit-column-gap: 38px;
             -moz-column-gap: 38px;
                  column-gap: 38px;
          padding: 0;
          margin: 0; }
          #header .head-cats .cats li ul li {
            list-style: none;
            width: auto;
            border: none;
            margin-bottom: 10px;
            vertical-align: top;
            -webkit-column-break-inside: avoid;
               page-break-inside: avoid;
                    break-inside: avoid;
            display: inline-block;
            width: 100%; }
            #header .head-cats .cats li ul li a {
              border-bottom: 1px solid rgba(41, 41, 41, 0.4);
              display: inline-block;
              padding: 0;
              line-height: 1; }
              #header .head-cats .cats li ul li a:hover {
                border-color: transparent; }
              #header .head-cats .cats li ul li a:after {
                display: none; }
        #header .head-cats .cats li:hover > a {
          background: #f5f5f5;
          border: none; }
          #header .head-cats .cats li:hover > a:after {
            border-color: #000;
            -webkit-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                    transform: rotate(135deg);
            right: 6px; }
        #header .head-cats .cats li:hover .drop {
          display: block;
          z-index: 3; }
        #header .head-cats .cats li.active > a {
          background: #f5f5f5;
          border: none; }
          #header .head-cats .cats li.active > a:after {
            border-color: #000;
            -webkit-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                    transform: rotate(135deg);
            right: 6px; }
        #header .head-cats .cats li.active .drop {
          display: block;
          z-index: 3; }
        #header .head-cats .cats li:first-child .drop {
          display: block; }
      #header .head-cats .cats li + li {
        border-top: 1px solid #f5f5f5; }
  #header.open .head-top {
    z-index: 1; }
  #header.open .head-cats .cats {
    display: block; }
  #header .head-search {
    z-index: 1;
    margin-left: 221px;
    position: relative;
    height: 60px;
    border: 5px solid #ffc800;
    background: #fff;
    border-right: none; }
    #header .head-search:after {
      content: '';
      display: block;
      clear: both; }
    #header .head-search .s-btn {
      float: right;
      width: 57px;
      height: 50px;
      cursor: pointer;
      border: none;
      background: url(../img/ico5.png) no-repeat center #fff; }
    #header .head-search .s-sel {
      float: right; }
      #header .head-search .s-sel .jq-selectbox__select {
        border-radius: 0;
        font-size: 14px;
        color: #000000;
        height: 50px;
        border: none;
        line-height: 50px;
        background: #f5f5f5;
        border-left: 1px solid #ececec;
        border-right: 1px solid #ececec;
        padding: 0 53px 0 20px; }
      #header .head-search .s-sel .jq-selectbox__trigger-arrow {
        width: 16px;
        height: 9px;
        background: url(../img/arr3.png) no-repeat; }
    #header .head-search .s-inp {
      overflow: hidden; }
      #header .head-search .s-inp .t-inp {
        width: 100%;
        border: none;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        padding: 0 20px; }
  #header .h-cov {
    position: relative;
    float: left; }
    #header .h-cov .bask-drop {
      display: none;
      position: absolute;
      right: 0;
      top: 40px;
      background: #fff;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
      width: 310px;
      z-index: 10;
      color: #000; }
      #header .h-cov .bask-drop:before {
        border: 7px solid transparent;
        border-bottom: 7px solid #fff;
        bottom: 100%;
        z-index: 10;
        right: 10px;
        content: '';
        position: absolute; }
      #header .h-cov .bask-drop table {
        margin: 0; }
        #header .h-cov .bask-drop table td {
          vertical-align: middle; }
        #header .h-cov .bask-drop table tr + tr td {
          border-top: 1px solid #ececec; }
        #header .h-cov .bask-drop table .td-img {
          width: 90px;
          padding: 10px; }
          #header .h-cov .bask-drop table .td-img .b-img {
            text-align: center;
            border: 1px solid #ececec;
            width: 70px;
            height: 70px;
            line-height: 68px; }
            #header .h-cov .bask-drop table .td-img .b-img img {
              max-width: 84%; }
        #header .h-cov .bask-drop table .td-info {
          text-align: left; }
          #header .h-cov .bask-drop table .td-info .b-name {
            font-size: 12px;
            line-height: 1.3;
            margin-top: 5px;
            height: 30px;
            overflow: hidden; }
          #header .h-cov .bask-drop table .td-info .b-price b {
            font-size: 20px;
            font-weight: 900; }
        #header .h-cov .bask-drop table .td-rem {
          width: 30px;
          text-align: center; }
      #header .h-cov .bask-drop .btn {
        display: block; }
    #header .h-cov:hover .bask-drop {
      display: block; }

#mainafter, #mainafter2 {
  background: rgba(41, 41, 41, 0.8);
  height: 100%;
  opacity: 0;
  -moz-opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: opacity 0.2s ease-out 0.3s, visibility 0s 0.5s;
  transition: opacity 0.2s ease-out 0.3s, visibility 0s 0.5s; }

.open #mainafter, .hid2 #mainafter2 {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s ease-out, visibility 0s 0s;
  transition: opacity 0.2s ease-out, visibility 0s 0s; }

#header:after {
  opacity: 0;
  visibility: hidden;
  background: rgba(41, 41, 41, 0.8);
  height: 100%;
  top: 0;
  z-index: -1;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: opacity 0.2s ease-out 0.3s, visibility 0s 0.5s;
          transition: opacity 0.2s ease-out 0.3s, visibility 0s 0.5s; }

.hid2 #header:after {
  opacity: 1;
  visibility: visible;
  z-index: 99;
  -webkit-transition: opacity 0.2s ease-out, visibility 0s 0s;
          transition: opacity 0.2s ease-out, visibility 0s 0s; }

#mainafter2 {
  -webkit-transition: opacity 0.2s ease-out 0.3s, visibility 0s 0s;
          transition: opacity 0.2s ease-out 0.3s, visibility 0s 0s;
  z-index: -1; }

.hid2 #mainafter2 {
  -webkit-transition: opacity 0.2s ease-out, visibility 0s 0s;
          transition: opacity 0.2s ease-out, visibility 0s 0s;
  z-index: 99; }

.mobile-button {
  position: relative;
  z-index: 50;
  float: right;
  width: 30px;
  height: 32px;
  margin: 0px 0px 0 21px;
  display: none; }
  .mobile-button span {
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
    border-radius: 2px;
    background: #fff;
    width: 30px;
    height: 1px;
    display: block;
    margin: 15px auto 0px;
    position: relative; }
  .mobile-button span:before, .mobile-button span:after {
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
    content: '';
    background: #fff;
    height: 1px;
    display: block;
    top: -7px;
    left: 0;
    right: 0;
    position: absolute; }
  .mobile-button span:after {
    top: auto;
    bottom: -7px; }
  .mobile-button.open span {
    background: transparent;
    border-color: transparent; }
  .mobile-button.open span:before {
    left: 0px;
    right: 0px;
    top: 0px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg); }
  .mobile-button.open span:after {
    left: 0px;
    right: 0px;
    top: 0px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg); }

.pop-up {
  background: #fff;
  text-align: center;
  width: 380px;
  padding: 30px;
  border: 5px solid #ffc800; }
  .pop-up h3 {
    margin-bottom: 25px; }
  .pop-up .btn {
    width: 100%; }
  .pop-up .form-row {
    margin: 0 0 20px;
    position: relative; }
  .pop-up .form-row:last-child {
    margin-bottom: 5px; }
  .pop-up .eye {
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: url(../img/eye.png) no-repeat center #fff;
    width: 40px;
    border: none;
    opacity: 0.3; }
    .pop-up .eye:hover, .pop-up .eye.active {
      opacity: 0.6; }
    .pop-up .eye input {
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer; }
  .pop-up .t-inp {
    font-size: 14px;
    height: 40px;
    padding: 4px 15px;
    line-height: 30px; }
  .pop-up textarea {
    font-size: 14px;
    height: 130px;
    padding: 4px 15px;
    line-height: 30px; }
  .pop-up .placeholder {
    color: #b5b5b5; }
  .pop-up .form-bot {
    margin-top: 20px;
    margin-bottom: -5px; }
    .pop-up .form-bot a {
      border-bottom: 1px solid #a9a9a9; }
      .pop-up .form-bot a:hover {
        border-color: transparent; }

select {
  opacity: 0; }

/*---------------- footer ----------------*/
#footer {
  clear: both;
  background: #f5f5f5; }
  #footer .foot-cont {
    overflow: hidden;
    padding: 53px 0 26px; }
    #footer .foot-cont .wrapper {
      position: relative; }
    #footer .foot-cont .foot-center {
      padding: 0 276px 0 242px;
      width: 100%;
      overflow: hidden;
      float: left;
      text-align-last: justify;
      text-align: justify; }
      #footer .foot-cont .foot-center .foot-col {
        display: inline-block;
        text-align-last: left;
        vertical-align: top;
        min-width: 98px; }
        #footer .foot-cont .foot-center .foot-col .foot-opener {
          font-weight: 500;
          color: #000000;
          font-size: 16px;
          margin-bottom: 19px; }
        #footer .foot-cont .foot-center .foot-col .foot-nav {
          margin: 0;
          list-style: none;
          clear: both; }
          #footer .foot-cont .foot-center .foot-col .foot-nav li {
            margin-bottom: 10px; }
            #footer .foot-cont .foot-center .foot-col .foot-nav li a {
              color: #292929;
              border-bottom: 1px solid rgba(41, 41, 41, 0.4); }
              #footer .foot-cont .foot-center .foot-col .foot-nav li a:hover {
                border-color: transparent; }
    #footer .foot-cont .foot-right {
      width: 190px;
      margin-left: -190px;
      float: left; }
    #footer .foot-cont .foot-left {
      position: absolute;
      left: 20px;
      top: 0px; }
      #footer .foot-cont .foot-left .q-link a {
        font-size: 14px;
        padding: 0 0px 0 2px;
        margin-right: -4px; }
        #footer .foot-cont .foot-left .q-link a span {
          border-bottom-style: solid; }
    #footer .foot-cont .foot-logo {
      opacity: 0.3;
      width: 161px;
      margin-bottom: 15px;
      margin-top: -6px; }
    #footer .foot-cont .foot-phone {
      margin-bottom: 13px; }
      #footer .foot-cont .foot-phone .foot-phone-link {
        color: #000000;
        font-size: 20px; }
        #footer .foot-cont .foot-phone .foot-phone-link a {
          border: none; }
    #footer .foot-cont .foot-rev {
      font-size: 12px;
      color: #b5b5b5;
      margin-top: 16px;
      line-height: 1.3; }
      #footer .foot-cont .foot-rev a {
        border-bottom: 1px solid #a3a3a3; }
        #footer .foot-cont .foot-rev a:hover {
          border-color: transparent; }
  #footer .foot-bot {
    font-size: 12px;
    color: #b5b5b5;
    clear: both;
    background: #292929;
    line-height: 30px;
    padding: 15px 0; }
    #footer .foot-bot .foot-copy {
      float: left;
      margin-right: 5.5%; }
      #footer .foot-bot .foot-copy ul {
        float: left;
        margin: 0; }
        #footer .foot-bot .foot-copy ul li {
          float: left;
          list-style: none; }
          #footer .foot-bot .foot-copy ul li:before {
            content: '/';
            color: #3a3a3a;
            margin: 0 13px; }
          #footer .foot-bot .foot-copy ul li a {
            color: #b5b5b5;
            border-bottom: 1px solid rgba(181, 181, 181, 0.4); }
            #footer .foot-bot .foot-copy ul li a:hover {
              border-color: transparent; }
    #footer .foot-bot .copy {
      float: left; }
    #footer .foot-bot .foot-soc {
      float: right; }
      #footer .foot-bot .foot-soc a {
        border: none;
        margin: 0 -3px 0 28px;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        text-align: center; }
    #footer .foot-bot .foot-pay {
      overflow: hidden;
      text-align: center; }
      #footer .foot-bot .foot-pay .pay {
        display: inline-block;
        line-height: 0;
        margin: 0 13px 0 14px;
        vertical-align: middle; }
  #footer .foot-title {
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    margin-bottom: 13px; }

.q-link {
  position: relative; }
  .q-link:before, .q-link:after {
    content: '';
    width: 22px;
    height: 31px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/bg1.png) no-repeat right; }
  .q-link:before {
    width: 17px;
    -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg); }
  .q-link a {
    font-size: 12px;
    color: #292929;
    border: none; }
    .q-link a span {
      display: inline-block;
      border-bottom: 1px dotted #8f8f8f;
      line-height: 1;
      text-shadow: 0 0; }
    .q-link a img {
      margin: 0 7px 0 0; }
    .q-link a:hover span {
      border-color: transparent; }
    .q-link a.link-call img {
      margin: 0 11px 0 0; }

/*--------------- content --------------*/
.content {
  position: relative;
  z-index: 1;
  clear: both;
  padding-top: 230px;
  display: block; }

section:after {
  content: '';
  display: block;
  clear: both; }

/* */
.btn {
  box-sizing: border-box;
  font-weight: bold;
  font-family: 'Roboto', arial;
  cursor: pointer;
  display: inline-block;
  border: none;
  text-align: center;
  font-size: 18px;
  line-height: 50px;
  height: 50px;
  padding: 0 26px;
  color: #000;
  background: #ffc800;
  overflow: hidden;
  text-decoration: none;
  border-radius: 0px;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }
  .btn:hover {
    color: #000;
    background: #ffd600; }

.btn-bord {
  border: 2px solid #ffc800;
  background: #fff; }
  .btn-bord:hover {
    color: #000;
    background: #ffd600;
    border-color: #ffd600; }

.form-row {
  position: relative;
  margin-bottom: 14px; }
  .form-row:after {
    content: '';
    display: block;
    clear: both; }

.t-inp, textarea {
  padding: 10px 20px 10px 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  color: #1c1c1c;
  -webkit-appearance: none;
  height: 50px;
  border: 1px solid #d7d7d7;
  font-size: 18px;
  line-height: 28px;
  background: #fff;
  border-radius: 0px;
  font-family: 'Roboto',aria,sans-serif;
  box-sizing: border-box; }

textarea {
  height: 120px;
  resize: none;
  overflow: auto; }

.t-inp.error, textarea.error {
  border-color: #ff0000; }

/* */
.section-top {
  background: #ebebeb;
  padding: 37px 0 37px; }
  .section-top h1, .section-top .h1 {
    margin: 0;
    line-height: 1; }
  .section-top .subtitle {
    font-size: 38px;
    font-weight: bold;
    color: #000000;
    line-height: 1;
    margin: 1px 0 25px; }
  .section-top .slider-top-img {
    float: left;
    text-align: center;
    width: 45.85%; }
  .section-top .slider-top-cont {
    overflow: hidden;
    padding-top: 63px; }
    .section-top .slider-top-cont p {
      font-size: 18px;
      color: #b5b5b5;
      margin-bottom: 34px; }
  .section-top .slick-arrow {
    width: 16px;
    height: 68px;
    background: url(../img/arr-big.png) no-repeat center;
    background-size: 16px 68px;
    margin-top: -34px; }
  .section-top .slick-dots {
    bottom: -6px; }

.section-piq {
  padding: 19px 0;
  border-bottom: 1px solid #ececec; }
  .section-piq .piqs .slick-list {
    margin: 0 -10px; }
  .section-piq .piqs .slick-slide {
    margin: 0 10px;
    background: url(../img/bg1.jpg) repeat 0 0 #ffd600;
    padding: 10px;
    max-height: 111px; }
  .section-piq .piqs .piq {
    display: table;
    width: 100%;
    height: 91px; }
    .section-piq .piqs .piq .piq-img {
      display: table-cell;
      vertical-align: middle;
      width: 92px;
      text-align: center; }
    .section-piq .piqs .piq .piq-cont {
      display: table-cell;
      vertical-align: middle;
      padding-left: 9px; }
    .section-piq .piqs .piq .piq-name {
      font-size: 16px;
      font-weight: 500;
      color: #000000;
      line-height: 1.1;
      margin: 2px 0 5px; }
    .section-piq .piqs .piq p {
      margin: 2px 0 0;
      line-height: 1.3;
      font-size: 12px;
      color: #5b5b5b; }

.labl {
  font-size: 12px;
  color: #fff;
  padding: 0 10px 0 20px;
  line-height: 21px;
  cursor: pointer; }
  .labl.labl1 {
    background: #f2aa0f; }
  .labl.labl2 {
    background: #ff082a; }
  .labl.labl3 {
    background: #81bc47; }
  .labl.labl4 {
    background: #4781bc; }
  .labl.labl5 {
    background: #4752bc; }

.section-tovs {
  padding: 35px 0 17px;
  position: relative; }
  .section-tovs .tovs {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    margin-bottom: 18px; }
    .section-tovs .tovs:after {
      content: '';
      display: block;
      clear: both; }
  .section-tovs .tov {
    border: 1px solid #ececec;
    border-left: none;
    padding: 20px;
    overflow: visible;
    height: 400px;
    float: left; }
    .section-tovs .tov .tov-img {
      text-align: center;
      height: 170px;
      line-height: 170px;
      position: relative; }
      .section-tovs .tov .tov-img a {
        border-bottom: 1px solid transparent; }
      .section-tovs .tov .tov-img img {
        max-height: 100%; }
      .section-tovs .tov .tov-img .abs {
        position: absolute;
        left: -20px;
        bottom: 0; }
      .section-tovs .tov .tov-img .time {
        background: #fff;
        padding: 0 10px 0 15px;
        font-size: 12px;
        color: #292929;
        border: 1px solid #ececec;
        border-left: none;
        line-height: 19px
        /*span {color:#ff082a;margin:0 1px 0 2px;}*/ }
        .section-tovs .tov .tov-img .time .countdown > div {
          display: inline-block;
          color: #ff082a;
          margin: 0 1px 0 2px; }
    .section-tovs .tov .tov-cat {
      font-size: 12px;
      margin: 15px 0 11px;
      overflow: hidden;
      white-space: nowrap;
      position: relative; }
      .section-tovs .tov .tov-cat:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 20px;
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%); }
      .section-tovs .tov .tov-cat a {
        color: #b5b5b5;
        border-bottom: 1px solid #e1e1e1; }
        .section-tovs .tov .tov-cat a:hover {
          border-color: transparent; }
    .section-tovs .tov .tov-title {
      font-size: 14px;
      margin-bottom: 10px;
      height: 40px;
      overflow: hidden;
      text-shadow: 0 0; }
    .section-tovs .tov .tov-rate .rating {
      display: inline-block;
      vertical-align: middle;
      margin-right: 9px; }
    .section-tovs .tov .tov-rate .comms-num {
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      color: #b5b5b5; }
    .section-tovs .tov .tov-bot {
      border-top: 1px solid #ececec;
      padding-top: 9px;
      margin-top: 26px;
      margin-bottom: -1px; }
      .section-tovs .tov .tov-bot:after {
        content: '';
        display: block;
        clear: both; }
      .section-tovs .tov .tov-bot .tov-price {
        float: left;
        position: relative;
        color: #000000; }
        .section-tovs .tov .tov-bot .tov-price .price-curr {
          line-height: 1.2;
          margin-top: 5px; }
          .section-tovs .tov .tov-bot .tov-price .price-curr b {
            font-size: 26px;
            font-weight: 900; }
        .section-tovs .tov .tov-bot .tov-price .price-old {
          position: absolute;
          background: #fff;
          left: 0;
          top: -24px;
          padding-right: 20px; }
      .section-tovs .tov .tov-bot .btn-buy {
        float: right;
        width: 40px;
        height: 40px;
        background: url(../img/ico6.png) no-repeat center #ffc800;
        padding: 0; }
        .section-tovs .tov .tov-bot .btn-buy:hover {
          background-color: #ffd600; }
    .section-tovs .tov .tov-hid {
      display: none;
      padding-top: 19px;
      border-top: 1px solid #ececec;
      color: #292929;
      margin-top: 11px; }
      .section-tovs .tov .tov-hid .check label > span:before {
        content: '';
        display: inline-block;
        background: url(../img/ico2.png) no-repeat;
        width: 7px;
        height: 14px;
        margin: 0 7px 0 -2px;
        vertical-align: middle; }
  .section-tovs .tov-cols {
    background: #f5f5f5; }
    .section-tovs .tov-cols:after {
      content: '';
      display: block;
      clear: both; }
  .section-tovs .tovs-center {
    border-right: none;
    float: left;
    width: 75%;
    padding-bottom: 1px;
    margin: 0; }
    .section-tovs .tovs-center .tov {
      width: 33.33%;
      margin-bottom: -1px;
      background: #fff; }
      .section-tovs .tovs-center .tov:hover {
        height: 450px;
        margin-bottom: -51px;
        position: relative;
        z-index: 3;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
        .section-tovs .tovs-center .tov:hover .tov-hid {
          display: block; }
  .section-tovs h1 {
    font-size: 38px;
    margin: -24px 0 14px; }

.section-tovs + .section-tovs {
  padding-top: 1px; }

.price-old {
  white-space: nowrap;
  color: #000000;
  font-size: 14px; }
  .price-old b {
    font-size: 20px;
    font-weight: 900;
    position: relative;
    display: inline-block;
    margin-right: 4px; }
    .price-old b:after {
      content: '';
      display: block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: url(../img/line.png) no-repeat center;
      position: absolute; }

.close {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(../img/close1.png) no-repeat center; }

.hint {
  display: none;
  line-height: 1.3;
  width: 240px;
  margin-bottom: 9px;
  text-align: left;
  font-size: 12px;
  color: #010101;
  position: absolute;
  bottom: 100%;
  left: 0;
  background: #fff;
  padding: 10px 18px 11px;
  border: 2px solid #ffc800;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }
  .hint:after {
    content: '';
    position: absolute;
    left: 51px;
    border-right: 2px solid #ffc800;
    border-bottom: 2px solid #ffc800;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #fff;
    width: 10px;
    height: 10px;
    bottom: -7px; }
  .hint .hint-txt {
    margin-bottom: 5px; }
  .hint p {
    margin: 0;
    color: #5b5b5b; }
  .hint .close {
    position: absolute;
    top: 6px;
    right: 5px; }

.tov-sort {
  width: 75%;
  color: #000;
  margin-bottom: 25px; }
  .tov-sort:after {
    content: '';
    display: block;
    clear: both; }
  .tov-sort .sort-left {
    float: left; }
  .tov-sort .sort-right {
    float: right; }
    .tov-sort .sort-right a {
      margin: 0 2px 0 11px; }
    .tov-sort .sort-right span {
      margin-right: 4px; }
  .tov-sort a {
    color: #b5b5b5;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px 0 12px;
    position: relative;
    border-bottom: 1px dotted #e1e1e1;
    line-height: 1; }
    .tov-sort a.sort-price:after {
      margin-left: 6px;
      content: '';
      display: inline-block;
      vertical-align: middle;
      background: url(../img/ico11.png) no-repeat;
      width: 8px;
      height: 5px; }
    .tov-sort a:hover {
      color: #000;
      border-bottom: 1px dotted transparent; }
    .tov-sort a:after {
      content: '';
      display: inline-block;
      vertical-align: middle; }
    .tov-sort a.active {
      color: #000000;
      border: none;
      background: #ececec;
      padding: 0 7px;
      line-height: 20px;
      margin: 0 -9px 0 0; }
      .tov-sort a.active:before {
        content: '';
        border: 4px solid transparent;
        border-top: 4px solid #ececec;
        top: 100%;
        left: 50%;
        margin-left: -4px;
        position: absolute; }
    .tov-sort a.za:after {
      width: 5px;
      height: 8px;
      background: url(../img/ico12.png) no-repeat;
      margin-left: 5px; }
    .tov-sort a.az:after {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      width: 5px;
      height: 8px;
      background: url(../img/ico12.png) no-repeat;
      margin-left: 5px; }

.tov-sort-mob {
  display: none;
  margin-bottom: 30px;
  margin-top: 19px; }
  .tov-sort-mob:after {
    content: '';
    display: block;
    clear: both; }
  .tov-sort-mob a {
    float: left;
    border: 1px solid #ececec;
    padding: 0 12px;
    color: #b5b5b5;
    margin-right: 9px;
    line-height: 28px;
    height: 30px;
    min-width: 31px;
    text-align: center;
    position: relative; }
    .tov-sort-mob a span {
      line-height: 1;
      border-bottom: 1px dotted #e1e1e1;
      display: inline-block; }
    .tov-sort-mob a:after {
      content: '';
      display: inline-block;
      vertical-align: middle; }
    .tov-sort-mob a.za:after {
      opacity: 0.2;
      width: 5px;
      height: 8px;
      background: url(../img/ico12.png) no-repeat; }
    .tov-sort-mob a.az:after {
      opacity: 0.2;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      width: 5px;
      height: 8px;
      background: url(../img/ico12.png) no-repeat; }
    .tov-sort-mob a.active {
      background: #ececec;
      color: #000; }
      .tov-sort-mob a.active:before {
        content: '';
        border: 4px solid transparent;
        border-top: 4px solid #ececec;
        bottom: -9px;
        left: 50%;
        margin-left: -4px;
        position: absolute; }
      .tov-sort-mob a.active:after {
        opacity: 1; }
      .tov-sort-mob a.active span {
        border-color: transparent; }
    .tov-sort-mob a:hover {
      color: #000; }
      .tov-sort-mob a:hover span {
        border-bottom: 1px dotted transparent; }
      .tov-sort-mob a:hover:after {
        opacity: 1; }
  .tov-sort-mob .sort-par {
    float: left;
    margin-right: 41px; }
  .tov-sort-mob .sort-dir a.active:before {
    display: none; }

.pagenavi {
  margin: 22px 0 17px; }
  .pagenavi:after {
    content: '';
    display: block;
    clear: both; }
  .pagenavi span, .pagenavi a {
    float: left;
    text-align: center;
    font-size: 16px;
    color: #000;
    font-weight: 900;
    border: 1px solid #ececec;
    margin-right: -1px;
    width: 41px;
    height: 41px;
    line-height: 39px; }
  .pagenavi span {
    background: #ececec;
    position: relative; }
    .pagenavi span:before {
      border: 4px solid transparent;
      border-bottom: 4px solid #ececec;
      top: -9px;
      left: 50%;
      margin-left: -4px;
      content: '';
      position: absolute; }
  .pagenavi a:hover {
    background: #ececec; }
  .pagenavi .prev {
    margin-right: 9px;
    width: 87px; }
  .pagenavi .next {
    margin-left: 9px;
    width: 87px; }

.checks {
  clear: both; }
  .checks .check {
    margin-bottom: 10px; }
    .checks .check:after {
      content: '';
      display: block;
      clear: both; }
    .checks .check .jq-checkbox {
      float: left; }
    .checks .check label {
      color: #292929;
      cursor: pointer; }
      .checks .check label > span {
        display: block;
        overflow: hidden; }
    .checks .check input {
      float: left;
      opacity: 0; }

.filter-side {
  float: right;
  width: 25%;
  padding: 1px 30px; }
  .filter-side .filter-item {
    border-bottom: 1px solid #ececec;
    padding: 13px 0 16px; }
    .filter-side .filter-item .filter-title {
      font-weight: 500;
      font-size: 16px;
      color: #000;
      line-height: 20px;
      padding: 10px 0 10px 30px;
      position: relative;
      cursor: pointer; }
      .filter-side .filter-item .filter-title:before {
        content: '';
        position: absolute;
        left: 2px;
        top: 17px;
        width: 16px;
        height: 9px;
        background: url(../img/arr5.png) no-repeat; }
    .filter-side .filter-item .filter-cont {
      display: none;
      padding: 6px 0 0; }
    .filter-side .filter-item.open .filter-title:before {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
    .filter-side .filter-item.open .filter-title:after {
      content: '';
      position: absolute;
      left: -30px;
      top: 7px;
      border: 13px solid transparent;
      border-left: 8px solid #ffc800; }
    .filter-side .filter-item.open .filter-cont {
      display: block; }
    .filter-side .filter-item .checks {
      margin-bottom: 13px; }
    .filter-side .filter-item .range_slider .checks {
      margin-bottom: 0px; }

.sec-top:after {
  content: '';
  display: block;
  clear: both; }
.sec-top .link-all {
  float: right;
  border-bottom: 1px solid #a9a9a9;
  line-height: 1;
  margin-top: 11px; }
  .sec-top .link-all:hover {
    border-color: transparent;
    text-decoration: none; }
.sec-top h3 {
  float: left;
  margin: 0 0 24px; }

.section-subsc {
  padding: 35px 0;
  color: #fff;
  background: url(../img/bg2.jpg) repeat #222121;
  margin-top: 25px; }
  .section-subsc .subsc-title {
    float: left;
    font-size: 24px;
    font-weight: 900;
    margin-right: 4.75%;
    letter-spacing: -0.07px; }
    .section-subsc .subsc-title:before {
      content: '';
      width: 50px;
      height: 50px;
      display: inline-block;
      vertical-align: middle;
      margin: 0 40px 0 0;
      background: url(../img/ico7.png) no-repeat center; }
  .section-subsc .subs {
    position: relative;
    overflow: hidden;
    overflow: hidden; }
    .section-subsc .subs .btn {
      width: 33%;
      float: right;
      padding: 0; }
    .section-subsc .subs .t-inp {
      float: left;
      width: 67%;
      background: #323232;
      border: 1px solid #3c3c3c;
      color: #b5b5b5;
      font-weight: 500;
      font-size: 18px; }

.section-brands {
  padding: 36px 0 21px; }
  .section-brands .brands {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    margin-bottom: 18px; }
    .section-brands .brands .slick-slide {
      border: 1px solid #ececec;
      border-left: none;
      text-align: center;
      height: 121px;
      line-height: 119px; }

.section-news {
  padding: 35px 0 21px;
  border-top: 1px solid #ececec; }
  .section-news .news {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    margin-bottom: 18px; }
    .section-news .news:after {
      content: '';
      display: block;
      clear: both; }
    .section-news .news .new {
      overflow: hidden;
      position: relative;
      float: left;
      padding: 20px 13px 26px 20px;
      border: 1px solid #ececec;
      border-left: none;
      height: 141px; }
      .section-news .news .new .new-title {
        height: 60px;
        overflow: hidden;
        text-shadow: 0 0; }
        .section-news .news .new .new-title a {
          color: #010101;
          border-bottom: 1px solid #999999; }
          .section-news .news .new .new-title a:hover {
            border-color: transparent; }
      .section-news .news .new .new-date {
        font-size: 12px;
        color: #b5b5b5;
        margin: 6px 0 10px; }

.section-seo {
  padding: 35px 0;
  border-top: 1px solid #ececec; }
  .section-seo h1 {
    font-size: 24px;
    color: #010101;
    margin-bottom: 18px; }

.section-links {
  padding: 26px 0 0px; }
  .section-links .links {
    font-size: 12px;
    color: #000000;
    text-shadow: 0 0;
    margin: 0; }
    .section-links .links li {
      list-style: none;
      display: inline-block; }
    .section-links .links li + li:before {
      content: '';
      display: inline-block;
      margin: 0 19px 0 16px;
      vertical-align: middle;
      width: 6px;
      height: 11px;
      background: url(../img/arr4.png) no-repeat center; }
    .section-links .links a {
      color: #b5b5b5;
      border-bottom: 1px solid rgba(181, 181, 181, 0.4); }
      .section-links .links a:hover {
        border-color: transparent; }

.section-post {
  padding: 10px 0 35px; }

.post {
  position: relative;
  margin-bottom: 43px; }
  .post h1 {
    font-size: 38px; }
  .post h2 {
    font-size: 24px;
    margin-top: 32px;
    margin-bottom: 18px; }
  .post h2:first-child {
    margin-top: 0; }
  .post li {
    font-weight: bold;
    list-style: none;
    text-shadow: none;
    margin-bottom: 10px; }
  .post ul {
    margin-bottom: 20px; }
    .post ul li {
      position: relative;
      padding-left: 21px; }
      .post ul li:before {
        content: '';
        position: absolute;
        left: 0;
        top: 4px;
        border: 5px solid transparent;
        border-left: 5px solid #ffc800; }
  .post ol {
    margin-bottom: 20px;
    counter-reset: myCounter; }
    .post ol li:before {
      counter-increment: myCounter;
      content: counter(myCounter) ".";
      color: #ffc800;
      display: inline-block;
      margin-right: 3px; }
  .post table {
    width: 100%;
    text-align: center; }
    .post table th:first-child, .post table td:first-child {
      text-align: left;
      width: auto; }
    .post table th {
      background: #292929;
      color: #f5f5f5;
      font-size: 16px;
      font-weight: 500;
      height: 50px;
      padding: 0 22px;
      vertical-align: middle;
      text-shadow: none;
      width: 25.5%; }
    .post table th + th {
      border-left: 1px solid #393939; }
    .post table td {
      border: 1px solid #ededed;
      border-top: none;
      padding: 0 21px;
      height: 40px;
      vertical-align: middle; }
  .post blockquote {
    padding: 15px 20px;
    letter-spacing: -0.22px;
    font-style: italic;
    display: block;
    margin-bottom: 20px;
    color: #000;
    background: #fff4cc; }
    .post blockquote p {
      margin: 0; }
  .post blockquote + h2 {
    margin-top: 36px; }
  .post .text-column {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    margin-bottom: 16px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px; }
  .post .scroll-h {
    margin: 24px 0; }

body.hid {
  overflow: hidden; }

/* */
.check label {
  cursor: pointer; }

.item-cols {
  position: relative;
  margin: 0 0 17px;
  padding-right: 310px;
  min-height: 496px;
  min-height: 580px;
  padding-top: 15px;
  z-index: 2; }
  .item-cols:after {
    content: '';
    display: block;
    clear: both; }
  .item-cols .item-right {
    position: absolute;
    right: 0;
    top: -115px;
    width: 280px; }
    .item-cols .item-right .btns {
      overflow: hidden;
      margin: 0 -20px; }
    .item-cols .item-right .btn {
      display: block;
      padding: 0;
      width: 100%; }
    .item-cols .item-right .buy-click {
      background: #fff; }
      .item-cols .item-right .buy-click:hover {
        background: #f5f5f5; }
  .item-cols .item-black {
    background: #292929;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    padding: 25px 20px 0;
    height: 490px; }
    .item-cols .item-black .item-art {
      color: #5b5b5b;
      margin-bottom: 15px; }
    .item-cols .item-black .check {
      color: #b5b5b5; }
      .item-cols .item-black .check input {
        opacity: 0; }
      .item-cols .item-black .check .jq-checkbox {
        background: #323232;
        border: 1px solid #3c3c3c; }
      .item-cols .item-black .check .jq-checkbox.checked {
        background: #ffde66;
        border: 1px solid #f1d25f; }
      .item-cols .item-black .check label > span:before {
        content: '';
        display: inline-block;
        background: url(../img/ico14.png) no-repeat;
        width: 7px;
        height: 14px;
        margin: 0 7px 0 -2px;
        vertical-align: middle; }
    .item-cols .item-black .tov-rate {
      padding: 13px 0 16px;
      margin: 20px 0 11px;
      overflow: hidden;
      border-top: 1px solid #3c3c3c;
      border-bottom: 1px solid #3c3c3c; }
      .item-cols .item-black .tov-rate .rating {
        float: left; }
        .item-cols .item-black .tov-rate .rating img {
          margin-right: 5px; }
      .item-cols .item-black .tov-rate .comms-num {
        float: right;
        color: #5b5b5b;
        line-height: 30px; }
    .item-cols .item-black .sale {
      text-align: center;
      font-size: 12px;
      color: #5b5b5b;
      margin-bottom: 7px; }
      .item-cols .item-black .sale p {
        margin-bottom: 6px; }
      .item-cols .item-black .sale .countdown {
        line-height: 40px; }
        .item-cols .item-black .sale .countdown div {
          display: inline-block;
          vertical-align: top;
          margin: 0 1px; }
          .item-cols .item-black .sale .countdown div b {
            display: block;
            font-size: 25px;
            font-weight: 900;
            color: #000000;
            width: 40px;
            height: 40px;
            line-height: 40px;
            background: #fff;
            background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 20px, #c7c5c5 21px, #ececec 21px, #ececec 40px);
            background: linear-gradient(to bottom, #ffffff 0%, #ffffff 20px, #c7c5c5 21px, #ececec 21px, #ececec 40px); }
          .item-cols .item-black .sale .countdown div span {
            display: block;
            line-height: 20px; }
    .item-cols .item-black .tov-price {
      color: #fff;
      text-align: center;
      margin-bottom: 3px; }
      .item-cols .item-black .tov-price .price-old {
        color: #fff; }
        .item-cols .item-black .tov-price .price-old b {
          font-weight: 900;
          font-size: 26px; }
      .item-cols .item-black .tov-price .price-curr {
        line-height: 1.2; }
        .item-cols .item-black .tov-price .price-curr b {
          font-size: 38px;
          font-weight: 900; }
    .item-cols .item-black .tov-disc {
      color: #ffc800;
      margin-bottom: 20px;
      text-align: center; }
      .item-cols .item-black .tov-disc b {
        font-size: 16px; }
    .item-cols .item-black .no-price {
      text-align: center;
      height: 218px;
      padding-top: 43px; }
      .item-cols .item-black .no-price .big {
        color: #fff;
        font-weight: 900;
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 19px; }
      .item-cols .item-black .no-price .sm {
        color: #5b5b5b; }
  .item-cols .piq-cov {
    background: url(../img/bg1.jpg) repeat 0 0 #ffd600;
    padding: 10px;
    max-height: 111px;
    margin: 10px 0 19px;
    display: block;
    border: none; }
    .item-cols .piq-cov .piq {
      display: table;
      width: 100%;
      height: 91px; }
      .item-cols .piq-cov .piq .piq-img {
        display: table-cell;
        vertical-align: middle;
        width: 82px;
        text-align: center; }
      .item-cols .piq-cov .piq .piq-cont {
        display: table-cell;
        vertical-align: middle;
        padding-left: 9px; }
      .item-cols .piq-cov .piq p {
        margin: -1px 0 0;
        line-height: 1.45;
        font-size: 12px;
        color: #5b5b5b; }
        .item-cols .piq-cov .piq p span {
          border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
          font-size: 14px;
          color: #000; }
      .item-cols .piq-cov .piq:hover p span {
        border-color: transparent; }
  .item-cols .item-gal {
    float: left;
    width: 470px;
    margin-right: 30px;
    text-align: center; }
    .item-cols .item-gal .img-slider {
      border: 1px solid #ececec; }
    .item-cols .item-gal .img-slider-nav {
      margin-right: -10px; }
      .item-cols .item-gal .img-slider-nav .slick-slide {
        border: 1px solid #ececec;
        margin: 10px 10px 0 0;
        height: 80px;
        line-height: 78px;
        font-size: 0;
        position: relative;
        cursor: pointer;
        overflow: visible; }
        .item-cols .item-gal .img-slider-nav .slick-slide img {
          max-height: 100%;
          opacity: 0.7
          /*-webkit-filter: grayscale(1);  -webkit-filter: grayscale(100%);  filter: grayscale(100%);  filter: url(#greyscale);  filter: gray;*/ }
      .item-cols .item-gal .img-slider-nav .slick-current {
        border: 1px solid #ffcc12; }
        .item-cols .item-gal .img-slider-nav .slick-current img {
          opacity: 1
          				/*filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
             				 -webkit-filter: grayscale(0%);*/ }
        .item-cols .item-gal .img-slider-nav .slick-current:before {
          content: '';
          border-top: 1px solid #ffcc12;
          border-left: 1px solid #ffcc12;
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
          background: #fff;
          position: absolute;
          top: -5px;
          left: 50%;
          margin-left: -4px;
          width: 6px;
          height: 6px; }
  .item-cols .item-info {
    overflow: hidden; }
    .item-cols .item-info .scroll {
      overflow: hidden;
      height: 433px; }
  .item-cols .item-tabs {
    overflow: hidden;
    margin: 0 0 10px; }
    .item-cols .item-tabs li {
      float: left;
      width: 33.33%;
      list-style: none;
      text-align: center;
      border-bottom: 2px solid #ececec;
      margin-bottom: 4px;
      position: relative;
      height: 31px; }
      .item-cols .item-tabs li a {
        color: #b5b5b5;
        border-bottom: 1px dotted rgba(181, 181, 181, 0.4);
        display: inline-block;
        line-height: 1; }
      .item-cols .item-tabs li a:hover {
        border-color: transparent;
        color: #333; }
      .item-cols .item-tabs li.active {
        border-color: #ffc800; }
        .item-cols .item-tabs li.active:after {
          position: absolute;
          left: 50%;
          margin-left: -4px;
          bottom: -10px;
          border: 4px solid transparent;
          border-top: 4px solid #ffc800;
          content: ''; }
        .item-cols .item-tabs li.active a {
          border-color: transparent;
          color: #000;
          font-size: 16px;
          font-weight: 500; }
  .item-cols .item-panes .item-pane .item-table {
    width: 100%;
    margin: 0; }
    .item-cols .item-panes .item-pane .item-table th {
      text-align: left;
      color: #5b5b5b;
      font-weight: 400;
      border-bottom: 1px solid #ececec;
      width: 200px; }
    .item-cols .item-panes .item-pane .item-table td {
      color: #000000;
      border-bottom: 1px solid #ececec;
      height: 30px;
      padding-top: 12px;
      line-height: 14px; }
  .item-cols .item-panes .item-pane.item-desc > div {
    height: 0;
    overflow: hidden; }
  .item-cols .item-panes .item-pane.item-desc > div.active {
    height: auto;
    margin-bottom: 15px;
    padding-top: 10px; }
  .item-cols .item-panes .item-pane.item-desc .scroll {
    height: 380px; }
  .item-cols .item-panes .item-pane.item-desc p {
    margin-bottom: 10px; }
  .item-cols .item-panes .item-pane.item-desc .btn {
    width: 100px;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    padding: 0;
    display: block; }
  .item-cols .item-panes .item-pane.hid {
    height: 0;
    overflow: hidden; }
  .item-cols .item-bot {
    border: 1px solid #ededed;
    padding: 19px 20px; }
    .item-cols .item-bot .item-stat {
      color: #81bc47;
      padding-left: 36px;
      background: url(../img/ico15.png) no-repeat left;
      line-height: 20px;
      margin-bottom: 10px; }
      .item-cols .item-bot .item-stat.no {
        color: #b5b5b5;
        background: url(../img/ico17.png) no-repeat left; }
    .item-cols .item-bot .item-deliv {
      padding-left: 36px;
      background: url(../img/ico16.png) no-repeat left; }
      .item-cols .item-bot .item-deliv p {
        color: #000;
        margin: 0 0 1px;
        line-height: 19px; }
        .item-cols .item-bot .item-deliv p b {
          font-size: 16px;
          display: inline-block; }
      .item-cols .item-bot .item-deliv a {
        font-size: 12px;
        color: #b5b5b5;
        border-bottom: 1px dotted rgba(181, 181, 181, 0.4); }
      .item-cols .item-bot .item-deliv a:hover {
        border-color: transparent;
        color: #333; }

.fancybox-type-image .fancybox-skin {
  border: 5px solid #ffc800; }

.section-item h1 {
  margin-right: 300px; }

/*--------------------------------------------------------------------------------------*/
@media screen and (max-width: 1220px) {
  #header .wrapper {
    padding: 0; }
  #header .head-top .top-nav {
    padding-left: 20px; }
  #header .head-mid .wrapper {
    padding: 0 20px; }
  #header .head-mid .head-phone {
    text-align: left; }
    #header .head-mid .head-phone .phone-link {
      margin-right: 0; }
    #header .head-mid .head-phone span {
      display: block; }
  #header .head-cats {
    width: 240px; }
    #header .head-cats .cat-name {
      padding-left: 20px; }
  #header .head-search {
    margin-left: 241px; }

  .section-top .slider-top-img {
    width: 42.65%; }
  .section-top .slider-top-cont {
    padding-top: 53px; }

  .section-piq .piqs .piq .piq-img {
    width: 70px; }

  .section-subsc .subsc-title {
    margin-right: 30px; }
    .section-subsc .subsc-title:before {
      margin: 0 30px 0 0; }

  #footer .foot-cont .foot-center {
    padding: 0 215px 0 190px; }
    #footer .foot-cont .foot-center .foot-col {
      min-width: 70px; }
  #footer .foot-bot .foot-copy {
    margin-right: 3%; }
  #footer .foot-bot .foot-pay .pay {
    margin: 0 10px; }
  #footer .foot-bot .foot-soc a {
    margin: 0 -3px 0 22px; }

  .filter-side {
    padding: 1px 20px; }
    .filter-side .filter-item.open .filter-title:after {
      left: -20px; }

  .range_slider .check + .check {
    width: 47%; }

  .item-cols {
    position: static;
    padding-right: 300px; }
    .item-cols .item-gal {
      float: none;
      width: 100%;
      margin: 0 0 40px; }
      .item-cols .item-gal .img-slider {
        line-height: 388px;
        height: 390px;
        font-size: 0;
        overflow: hidden; }
        .item-cols .item-gal .img-slider img {
          max-height: 380px; }
    .item-cols .item-right {
      right: 20px;
      top: -43px; }
    .item-cols .item-black {
      height: 540px; }
      .item-cols .item-black .item-art {
        margin-bottom: 25px; }
      .item-cols .item-black .tov-rate {
        margin: 30px 0 21px; }
      .item-cols .item-black .sale {
        margin-bottom: 17px; }
      .item-cols .item-black .tov-disc {
        margin-bottom: 30px; }
      .item-cols .item-black .no-price {
        height: 238px;
        padding-top: 48px; }
    .item-cols .item-info .scroll {
      height: 276px; }
    .item-cols .item-panes .item-pane.item-desc {
      overflow: hidden; }
      .item-cols .item-panes .item-pane.item-desc .scroll {
        height: 220px; }
      .item-cols .item-panes .item-pane.item-desc .btn {
        margin-bottom: 1px; }

  .section-item h1 {
    line-height: 48px;
    margin: -24px 300px 15px 0; } }
@media screen and (max-width: 1023px) {
  #header.fix {
    top: -70px; }
    #header.fix .head-search .s-sel {
      display: none; }
  #header.open .head-mid .h-cov {
    z-index: 2; }
  #header .head-top {
    background: #fff;
    padding-right: 178px;
    height: 70px; }
    #header .head-top .top-nav {
      display: none; }
    #header .head-top .logo {
      display: block;
      margin: 22px 0 0 22px;
      float: left; }
    #header .head-top .h-user, #header .head-top .h-comp {
      height: 70px;
      background: #fff;
      margin: 0;
      border-left: 1px solid #ececec;
      width: 70px; }
    #header .head-top .h-comp:before {
      margin: 7px 1px 0 0; }
    #header .head-top .h-comp span {
      right: 13px; }
  #header .head-mid {
    padding: 0;
    height: 0; }
    #header .head-mid .head-phone, #header .head-mid .head-links {
      display: none; }
    #header .head-mid .h-cov {
      z-index: 50;
      position: absolute;
      top: 0;
      right: 0; }
    #header .head-mid .head-bask {
      width: 178px;
      height: 70px;
      line-height: 70px;
      border-left: 1px solid #ececec;
      padding-right: 18px; }
      #header .head-mid .head-bask span {
        margin: 0;
        right: 13px;
        position: absolute;
        top: 6px; }
    #header .head-mid .logo {
      display: none; }
  #header .h-place {
    width: 210px;
    border-left: 1px solid #ececec;
    height: 70px;
    background: #fff; }
    #header .h-place .jq-selectbox__select {
      padding: 0 45px 0 44px;
      height: 70px;
      margin-top: 0;
      line-height: 70px;
      background-position: 25px center; }
    #header .h-place .jq-selectbox__dropdown {
      top: 70px; }
    #header .h-place .jq-selectbox__trigger-arrow {
      right: 25px; }
  #header .head-search .s-sel {
    width: 191px; }

  .content {
    padding-top: 130px; }

  #footer .foot-cont {
    padding: 0; }
    #footer .foot-cont .wrapper {
      padding: 0; }
    #footer .foot-cont .foot-center {
      padding: 52px 20px 28px 45px;
      float: right;
      width: 69%;
      border-left: 1px solid #ececec;
      text-align-last: left;
      text-align: left; }
      #footer .foot-cont .foot-center .foot-col {
        width: 37%;
        margin-right: -3px;
        margin-bottom: 18px; }
        #footer .foot-cont .foot-center .foot-col:nth-child(even) {
          width: 63%; }
        #footer .foot-cont .foot-center .foot-col:nth-child(2) ul {
          position: relative; }
          #footer .foot-cont .foot-center .foot-col:nth-child(2) ul li:last-child {
            position: absolute;
            right: 0;
            top: 0;
            width: 43%; }
    #footer .foot-cont .foot-left {
      float: left;
      position: relative;
      top: 0;
      left: 0;
      margin: 0;
      text-align: center;
      width: 31%;
      padding: 44px 0 40px; }
    #footer .foot-cont .foot-right {
      float: left;
      position: relative;
      border-top: 1px solid #ececec;
      margin-left: 0;
      text-align: center;
      width: 31%;
      padding: 41px 0; }
    #footer .foot-cont .foot-logo {
      margin: 0 auto 15px; }
    #footer .foot-cont .foot-rev {
      width: 164px;
      margin: 16px auto 0; }
  #footer .foot-bot .foot-copy {
    margin-right: 0;
    margin-bottom: 15px; }
  #footer .foot-bot .foot-pay {
    clear: both;
    border-top: 1px solid #353535;
    margin: 15px -20px 0;
    padding-top: 15px; }
  #footer .foot-bot .foot-soc {
    margin-right: 11px; }

  .section-subsc .subsc-title {
    width: 233px;
    margin: -6px 20px -8px 0;
    line-height: 1.25; }
    .section-subsc .subsc-title:before {
      display: none; }
  .section-subsc .subs .t-inp {
    width: 60%; }
  .section-subsc .subs .btn {
    width: 40%; }

  .section-top .wrapper {
    padding: 0; }
  .section-top .slick-slide {
    padding: 0 10px; }
  .section-top .slider-top-img {
    float: right;
    width: 52.65%; }
  .section-top .slider-top-cont {
    position: absolute;
    overflow: visible;
    padding-left: 10px;
    padding-top: 43px; }
  .section-top .bg-cont {
    background: #fff;
    display: inline-block;
    margin-left: -20px;
    padding: 10px 18px 16px 18px;
    margin-bottom: 29px; }
  .section-top .subtitle {
    margin-bottom: 0; }
  .section-top .btn {
    padding: 0 46px; }

  .section-piq .piqs .slick-list {
    margin: 0 -5px 0px; }
  .section-piq .piqs .slick-track {
    max-width: 100%;
    min-width: 100%; }
  .section-piq .piqs .slick-slide {
    width: 17.5%;
    margin: 0;
    border: 5px solid #fff;
    border-width: 0 5px;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out; }
    .section-piq .piqs .slick-slide .piq-cont {
      display: none; }
    .section-piq .piqs .slick-slide .piq .piq-img {
      width: 100%; }
    .section-piq .piqs .slick-slide.open {
      width: 65%; }
      .section-piq .piqs .slick-slide.open .piq-cont {
        display: table-cell; }
      .section-piq .piqs .slick-slide.open .piq .piq-img {
        width: 92px; }

  .section-news {
    border: none;
    padding-top: 0px;
    margin-top: -4px; }

  .section-seo {
    border: none;
    padding-top: 16px;
    padding-bottom: 56px; }

  .post table th:first-child {
    min-width: 243px; }
  .post table th {
    min-width: 242px; }
  .post .scroll-h {
    overflow-x: auto;
    padding-right: 1px; }

  .section-tovs .tov {
    height: 450px; }
    .section-tovs .tov .tov-hid {
      display: block; }
  .section-tovs .tovs-center {
    width: 66.6%; }
    .section-tovs .tovs-center .tov {
      width: 50%;
      height: 450px; }
      .section-tovs .tovs-center .tov .tov-hid {
        display: block; }
      .section-tovs .tovs-center .tov:last-child {
        display: none; }
      .section-tovs .tovs-center .tov:hover {
        margin-bottom: -1px; }

  .tov-sort {
    display: none; }

  .tov-sort-mob {
    display: block; }

  .filt-btn {
    display: none; }

  .filter-side {
    width: 33.4%; }

  .range_slider .check + .check {
    width: 48%;
    margin-right: -3px; } }
@media screen and (max-width: 909px) {
  #header .head-cats {
    position: static; }
    #header .head-cats .cats {
      width: 100%; }
      #header .head-cats .cats li ul {
        -webkit-column-count: 1;
           -moz-column-count: 1;
                column-count: 1; }
      #header .head-cats .cats li .drop {
        padding-bottom: 0;
        width: auto;
        right: 0; }
      #header .head-cats .cats li .drop-img {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0; } }
@media screen and (max-width: 767px) {
  #header .head-search .s-sel {
    width: 170px; }
  #header .head-mid .head-bask {
    font-size: 0;
    width: 70px;
    padding-right: 3px; }
    #header .head-mid .head-bask:before {
      margin-right: 0; }
  #header .head-top {
    padding-right: 70px; }
  #header .head-cats {
    width: 230px; }
    #header .head-cats .cat-name:before {
      margin: 0 14px 0 0; }
    #header .head-cats .cat-name:after {
      margin: 0 0px 0 15px; }
  #header .head-search {
    margin-left: 231px; }

  .section-subsc .subsc-title {
    width: 100%;
    margin: -6px 0 16px;
    float: none;
    font-size: 0; }
    .section-subsc .subsc-title:after {
      content: 'Рассылка акций и спецпредложений';
      font-size: 24px; }

  #footer .foot-cont .foot-center {
    border: none;
    padding: 30px 20px;
    width: 100%;
    float: none;
    border-bottom: 1px solid #ececec; }
  #footer .foot-cont .foot-left {
    width: 50%;
    height: 229px;
    padding: 66px 0 20px; }
  #footer .foot-cont .foot-right {
    width: 50%;
    height: 229px;
    border: none;
    border-left: 1px solid #ececec;
    padding: 32px 0px; }
  #footer .foot-bot .foot-copy {
    float: none;
    text-align: center; }
    #footer .foot-bot .foot-copy .copy {
      float: none;
      display: inline-block;
      vertical-align: middle; }
    #footer .foot-bot .foot-copy ul {
      float: none;
      display: inline-block;
      vertical-align: middle; }
  #footer .foot-bot .foot-soc {
    float: none;
    text-align: center;
    margin: -5px 32px 15px 0; }

  .section-top .slider-top-cont p {
    width: 200px; }

  .post {
    margin-bottom: 24px; }
    .post .text-column {
      -webkit-column-count: 1;
         -moz-column-count: 1;
              column-count: 1; }
    .post ol li:before {
      margin-right: 8px; }
    .post table th:first-child {
      min-width: 119px;
      max-width: 120px; }
    .post table th {
      min-width: 159px; }

  .section-tovs .tovs-center {
    width: 100%; }
  .section-tovs .tov-cols {
    position: relative; }
  .section-tovs .section-tovs h1 {
    margin: -25px 0 18px;
    line-height: 49px; }

  .tov-sort-mob .sort-par {
    float: none;
    margin-right: -10px;
    margin-bottom: 20px; }
    .tov-sort-mob .sort-par:after {
      content: '';
      display: block;
      clear: both; }
  .tov-sort-mob .filt-btn {
    display: block;
    float: right;
    margin: 0;
    background: #292929;
    color: #ffc800;
    padding: 0 12px;
    border-color: #292929;
    z-index: 100;
    position: relative; }
    .tov-sort-mob .filt-btn span {
      border-bottom: 1px dotted #7c6718;
      color: #ffc800; }
    .tov-sort-mob .filt-btn:before {
      width: 21px;
      height: 17px;
      background: url(../img/ico13.png) no-repeat;
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px 0 0;
      content: ''; }

  .filter-side {
    display: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    z-index: 100;
    position: absolute;
    top: -30px;
    right: 0;
    background: #f5f5f5;
    width: 275px; }
    .filter-side.open {
      display: block; }

  .section-item h1 {
    margin: -24px 0px 15px 0; }

  .item-cols {
    padding: 16px 0 0; }
    .item-cols .item-right {
      position: static;
      width: 100%;
      margin-bottom: 39px; }
    .item-cols .piq-cov .piq {
      margin: 0 auto;
      max-width: 350px; }
      .item-cols .piq-cov .piq p br {
        display: none; }
    .item-cols .item-black {
      height: 340px;
      padding: 20px 20px 0; }
      .item-cols .item-black .item-art {
        float: right;
        margin-bottom: 20px; }
      .item-cols .item-black .check {
        overflow: hidden; }
      .item-cols .item-black .sale {
        float: left;
        width: 49%;
        margin: 0 9% 12px -3px; }
      .item-cols .item-black .tov-rate {
        margin: 20px 0 21px;
        clear: both; }
      .item-cols .item-black .tov-price {
        overflow: hidden; }
      .item-cols .item-black .tov-disc {
        clear: both; }
      .item-cols .item-black .btn {
        float: left;
        width: 50%; }
      .item-cols .item-black .no-price {
        height: 148px;
        padding-top: 28px; }
    .item-cols .item-gal {
      margin: 0 0 20px; } }
@media screen and (max-width: 639px) {
  #header.fix {
    top: -70px; }
    #header.fix .head-cats {
      width: 90px; }
      #header.fix .head-cats .cat-name {
        font-size: 0; }
        #header.fix .head-cats .cat-name:after {
          margin-left: 0; }
    #header.fix .head-search {
      margin-left: 91px; }
  #header .head-search .s-sel {
    display: none; }
  #header .head-top {
    padding-right: 70px; }
    #header .head-top .h-user, #header .head-top .h-comp {
      width: 60px; }
  #header .h-place {
    width: 60px; }
    #header .h-place .jq-selectbox__select {
      padding: 0;
      text-align: center;
      font-size: 0;
      background-position: center; }
      #header .h-place .jq-selectbox__select .jq-selectbox__select-text {
        border: none; }
    #header .h-place .jq-selectbox__trigger {
      display: none; }
    #header .h-place .jq-selectbox__dropdown {
      min-width: 249px; }
  #header .head-cats .cats {
    width: 330px; }
    #header .head-cats .cats li .drop {
      display: none; }
  #header .head-cats .cats li.active > a:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

  #footer .foot-cont .foot-center .foot-col {
    display: block;
    width: 100%;
    margin-bottom: 1px; }
    #footer .foot-cont .foot-center .foot-col:nth-child(even) {
      width: 100%; }
    #footer .foot-cont .foot-center .foot-col .foot-opener {
      background: #ebebeb;
      margin: 0;
      padding: 0 15px;
      line-height: 49px;
      position: relative;
      cursor: pointer; }
      #footer .foot-cont .foot-center .foot-col .foot-opener:after {
        content: '';
        border-right: 2px solid #000000;
        border-bottom: 2px solid #000000;
        width: 8px;
        height: 8px;
        right: 17px;
        top: 19px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        position: absolute; }
      #footer .foot-cont .foot-center .foot-col .foot-opener.open:after {
        -webkit-transform: rotate(-135deg);
            -ms-transform: rotate(-135deg);
                transform: rotate(-135deg); }
    #footer .foot-cont .foot-center .foot-col .foot-nav {
      display: none;
      padding: 20px; }
      #footer .foot-cont .foot-center .foot-col .foot-nav.open {
        display: block; }
  #footer .foot-cont .foot-center .foot-col:nth-child(2) ul li:last-child {
    position: static; }

  .section-top {
    padding: 25px 0 36px; }
    .section-top .subtitle {
      display: none; }
    .section-top .slider-top-img {
      width: 55%;
      position: absolute;
      right: 0;
      top: 0;
      margin-right: 18px; }
    .section-top .slider-top-cont {
      padding-top: 55px;
      padding-right: 10px;
      position: relative;
      padding-bottom: 35px; }
      .section-top .slider-top-cont .bg-cont {
        width: 364px;
        padding: 14px 18px 19px 18px;
        margin-bottom: 32px; }
      .section-top .slider-top-cont .h1 {
        line-height: 0.85; }
      .section-top .slider-top-cont p {
        width: 200px;
        line-height: 1.15;
        margin-bottom: 37px; }
      .section-top .slider-top-cont .btn {
        display: block; }

  .section-piq .piqs {
    padding-right: 40px; }
    .section-piq .piqs .slick-arrow {
      height: 100%;
      top: 0;
      margin: 0; }
    .section-piq .piqs .slick-prev {
      opacity: 0; }
    .section-piq .piqs .slick-track {
      max-width: 9999px;
      min-width: 0; }
    .section-piq .piqs .slick-slide .piq-cont {
      display: table-cell; }
    .section-piq .piqs .slick-slide .piq .piq-img {
      width: 92px; }

  .sec-top .link-all {
    font-size: 0; }
    .sec-top .link-all:before {
      content: 'Смотреть все';
      font-size: 14px; }

  .section-tovs .tov .tov-hid label > span {
    font-size: 0;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
    line-height: 16px; }
    .section-tovs .tov .tov-hid label > span:after {
      font-size: 14px;
      content: 'Сравнить';
      vertical-align: middle;
      display: inline-block; } }
