﻿@font-face {
	font-family:'Roboto';
	src: url('../fonts/Roboto Medium.eot');
	src: url('../fonts/Roboto Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto Medium.woff') format('woff'),
		url('../fonts/Roboto Medium.ttf') format('truetype'),
		url('../fonts/Roboto Medium.svg#Roboto-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-2044;
}
@font-face {
	font-family:'Roboto';
	src: url('../fonts/Roboto.eot');
	src: url('../fonts/Roboto.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto.woff') format('woff'),
		url('../fonts/Roboto.ttf') format('truetype'),
		url('../fonts/Roboto.svg#Roboto') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-2044;
}

@font-face {
	font-family:'Roboto';
	src: url('../fonts/Roboto Bold.eot');
	src: url('../fonts/Roboto Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto Bold.woff') format('woff'),
		url('../fonts/Roboto Bold.ttf') format('truetype'),
		url('../fonts/Roboto Bold.svg#Roboto-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-2044;
}
/* constants */
$font: 'Roboto', arial, verdana, sans-serif;
$fontSize: 14px;
$fontColor: #5b5b5b;
$fontLine:1.45;

$linkColor:#010101;

/*$widthMax:1710px;*/
$widthMax:1220px;
$widthMin:480px;

$h1Size:46px;
$h2Size:38px;
$h3Size:24px;
$h4Size:17px;

$btn_bg: #ffc800;
$btn_bg_hov: #ffd600;
$btn_color: #000;

/* ___________ reset CSS____________________*/
* {	margin: 0;	padding:0;  	outline:none;box-sizing:border-box;}
html,body,div{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;font:inherit;}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;font:inherit;}
a,p,ul,ol,li,img,span,strong,em{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;font:inherit;}
table,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;font:inherit;}
applet,object,iframe,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,font,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,caption,fieldset,form,label,legend{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;font:inherit;}
article,aside,figure,footer,header,hgroup,section{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;font:inherit;}
canvas,details,embed,figcaption,menu,nav,output,ruby,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;font:inherit;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
b,strong{font-weight:bold;}
em,i{font-style:italic;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
hr{margin:0;padding:0;border:none;height:1px;background:#5294c1;}
p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:20px;}
ol{list-style:decimal;}
ul{list-style:disc;}
ul ul,ol ol{padding-top:0.5em;}
dt{font-size:18px;margin:0;}
dd{padding-left:10px;font-size:0.9em;font-style:italic;margin-bottom:20px;}
html {height:100%; background:#fff;}
input[type="submit"], textarea, button {-webkit-appearance: none;}
img { border:none; max-width:100%;vertical-align:middle;}

.f-left {float: left;}
.f-right {float: right;}
.clear {clear:both; position:relative; height:1px; overflow:hidden;}
.alignleft {}
img.alignleft {float:left;  margin:3px 28px 10px 0px;}
.alignright {text-align:right;}
img.alignright {float:right;  margin:3px 0px 10px 28px;}
.aligncenter {text-align:center;}
img.alignnone {margin-bottom: 14px;}
  
/*-----------------------------------*/
body{
	font-size:$fontSize; 
	font-family: $font;
	line-height:$fontLine; 
	color:$fontColor; 
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;	background:#fff; height: 100%; position: relative;
	-webkit-text-size-adjust: none;
}

a {color: $linkColor; text-decoration: none;transition:all 0.3s ease-out;border-bottom:1px solid transparent;}
a:hover {border-color:#a9a9a9;}

h1, .h1 { margin:0 0 24px; font-weight:900; line-height: 1.25;font-size:$h1Size; color:#000000;}
h2 {    margin: 0 auto 29px; font-weight:900; line-height:1.25;font-size:$h2Size;color:#1e1e1e;}
h3 {margin:0 0 19px; font-weight:900; line-height:1.25;font-size:$h3Size; color:#010101;}

.main-wrapper {
	position: relative; margin: 0 auto;   width:100%;  
	min-width:$widthMin;
	overflow:hidden; min-height:100%;
}
.wrapper { 
	max-width:$widthMax; 
	margin: 0 auto; 
	padding:0 20px;
}
.wrapper:after, section:after {content:'';display:block; clear:both;}

/*--------------- header ------------------*/
#header {	position:absolute; z-index:20;	top:0;left:0;right:0;transition:background 0.3s ease-out;
	&.fix {min-width:480px;position:fixed;background:#fff;top:-170px;backface-visibility: hidden;
		.fix-right {display:block;
			.h-comp, .h-user, .head-bask {background:#ffdb00;}
		}
		.head-cats .cats {top:60px;}
		.head-search {margin-right:160px;}
	}
	.fix-right {float:right;display:none;
		.head-bask {position:relative;z-index:2;float:left;height:60px;line-height:60px;background:#ececec;margin-left:1px;border:none;width:51px;text-align:center;
			&:before {    margin: 7px 0px 0 0;    vertical-align: middle;content:'';display:inline-block;width:22px;height:21px;background:url(../img/ico4.png) no-repeat center;    background-size: 18px;}
			span {margin:0;position:absolute;top:6px;right:8px;width:18px;height:18px;border-radius:50%;color:#fff;background:#ff082a;font-size:10px;line-height:18px;
				&.emp {color:#b5b5b5;background:#ececec;}
			}
		}
	}
	.head-top {background:#f5f5f5;height:60px;position:relative;z-index:6;
		&:after {content:'';display: block;clear: both;}
		.logo {display:none;}
		.top-nav {float:left;margin:0;
			li {display:inline-block;list-style:none;line-height: 53px;    margin-top: 7px;    margin-right: 28px;
				a {border-bottom:1px solid #a3a3a3;display:inline-block;line-height:1;
					&:hover {border-color:transparent;}
				}
			}
		}
		.head-bask {position:relative;z-index:2;float:left;height:60px;line-height:60px;background:#ececec;margin-left:1px;border:none;width:51px;text-align:center;
			&:before {    margin: 7px 0px 0 0;    vertical-align: middle;content:'';display:inline-block;width:22px;height:21px;background:url(../img/ico4.png) no-repeat center;    background-size: 18px;}
			span {margin:0;position:absolute;top:6px;right:8px;width:18px;height:18px;border-radius:50%;color:#fff;background:#ff082a;font-size:10px;line-height:18px;
				&.emp {color:#b5b5b5;background:#ececec;}
			}
		}
	}
	.head-right {float:right;}
	.h-user {position:relative;z-index:2;float:left;height:60px;line-height:60px;background:#ececec;width:51px;text-align:center;margin-left:1px;border:none;
		&:before {content:'';display:inline-block;width:11px;height:13px;    margin: 8px 0px 0 0;    vertical-align: middle;background:url(../img/ico3.png) no-repeat center;}
	}
	.h-comp {position:relative;z-index:2;float:left;height:60px;line-height:60px;background:#ececec;width:51px;text-align:center;margin-left:1px;border:none;position:relative;
		&:before {content:'';display:inline-block;width:7px;height:14px;margin: 7px 4px 0 0;    vertical-align: middle;background:url(../img/ico2.png) no-repeat center;}
		span {position:absolute;top:6px;right:8px;width:18px;height:18px;border-radius:50%;color:#fff;background:#ff082a;font-size:10px;line-height:18px;
			&.emp {color:#b5b5b5;background:#ececec;}
		}
	}
	.h-place {float:left;height:60px;line-height:60px;background:#ececec;z-index:1;position:relative;
		.jq-selectbox__select {height: 53px;    margin-top: 7px;    line-height: 53px;color:#292929;border:none;background:url(../img/ico1.png) no-repeat 20px center;padding:0 40px 0 39px;
			.jq-selectbox__select-text {line-height:1;display:inline-block;vertical-align:middle;border-bottom:1px dotted #8a8a8a;}
		}
		.jq-selectbox__dropdown {top:59px;}
		select {opacity:0;}
		&:hover .jq-selectbox__select .jq-selectbox__select-text {border-color:transparent;}
	}
	.head-mid {height:110px;background:#fff;text-align:center;padding:35px 0 30px;
		&:after {content:'';display: block;clear: both;}
		.logo {width:190px; line-height:0; font-size:0;  float:left;    margin:7px 23px 0 2px;border:none;}
		.head-phone {display:inline-block;vertical-align:middle;color:#b5b5b5;font-size:12px;margin-right: 9px;
			.phone-link { color:#000000;font-size:20px; margin-right:18px;border:none;}
			span {    display: inline-block;    vertical-align: middle;    margin-top: -7px;}
		}
		.head-links {display:inline-block;vertical-align:middle;
			.q-link {display:inline-block;vertical-align:middle;margin: 5px 0 5px 16px;}
		}	
		.h-cov {float:right;}
	}
	.head-bask {position:relative;z-index:2;float:right;color:#000000;border:none;line-height:40px;
		&:before {    margin: -1px 12px 0 0;    vertical-align: middle;content:'';display:inline-block;width:22px;height:21px;background:url(../img/ico4.png) no-repeat center;}
		span {content:'';display:inline-block;border-radius:50%;font-size:10px;color:#fff;background:#ff082a; width:18px;height:18px;text-align:center;line-height:18px;vertical-align: top;    margin: 3px 0 0 10px;
			&.emp {color:#b5b5b5;background:#ececec;}
		}
	}
	.head-bot {background:#ffc800;position:relative;height:60px;z-index:4;
		&:after {content:'';display: block;clear: both;}
		&:before {background:#292929;content:'';width:50%;top:0;left:0;position:absolute;bottom:0;}
		.wrapper {position:relative;z-index:1;}
	}
	.head-cats {float:left;height:60px;width:220px;position:relative;z-index:100;
		.cat-name {color:#ffc800;font-weight:500;font-size:16px;line-height:60px;cursor:pointer;    position: relative;    z-index: 150;
			&:before {content:'';display:inline-block;width:22px;height:12px;margin:0 19px 0 0;background:url(../img/bg3.png) no-repeat center;}
			&:after {content:'';display:inline-block;width:14px;height:8px;margin:0 0px 0 20px;background:url(../img/arr2.png) no-repeat center;}
		}
		.cats {   position: relative;    z-index: 150;list-style:none;display:none; background:#fff; box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);  position: absolute; top: 60px;overflow:hidden;   overflow-y: auto;    left: 0%;  margin-bottom: 0;    width: 910px;
			> ul {position:relative; padding:20px 0;margin:0;    min-height: 100%;
				&:after {content:'';position:absolute;left:330px;top:0;bottom:0;width:20px;z-index:10;
					background-image: -webkit-linear-gradient(right, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
	   				background-image: -moz-linear-gradient(right, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
	   				background-image: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.2) 100%);}
			}
			li { width:330px;
				a {display:block;padding:0 20px;line-height:29px;	font-size:14px;	color:#292929; position:relative;border:none;
					&:after {content:'';border-right:1px solid #b3b3b3;border-bottom:1px solid #b3b3b3;     width: 7px;    height: 7px;    right: 11px;    top: 11px;transform:rotate(-45deg);position:absolute;}
				}
				.drop {display:none;width:581px;position:absolute;top:0;bottom:0;left:330px;background:#fff;z-index:1; padding:20px 20px 380px;
					h4 {font-weight:500;font-size:18px;color:#000000;    margin-bottom: 9px;}
					
				}
				.drop-img {height:350px;line-height:350px;left:20px;right:20px;bottom:33px;text-align:center;position:absolute;}
				ul {column-count:2; column-gap: 38px;   padding: 0;    margin: 0;
					li {list-style:none;width:auto;border:none;    margin-bottom: 10px;    vertical-align: top;    break-inside: avoid;    display: inline-block;    width: 100%;
						a {	border-bottom:1px solid rgba(41,41,41,0.4);display:inline-block;padding:0;line-height:1;
							&:hover {border-color:transparent;}
							&:after {display:none;}
						}
					}
				}
				&:hover {
					> a {background:#f5f5f5;	border:none;
						&:after {border-color:#000;transform:rotate(135deg);    right: 6px;}
					}
					.drop {display:block;z-index:3;}
				}
				&.active {
					> a {background:#f5f5f5;	border:none;
						&:after {border-color:#000;transform:rotate(135deg);    right: 6px;}
					}
					.drop {display:block;z-index:3;}
				}
				&:first-child .drop {display:block;}
			}
			li + li {border-top:1px solid #f5f5f5;}
			
		}	
	}
	&.open {
		.head-top {z-index:1;}
		.head-cats .cats {display:block;}
	}
	.head-search {z-index:1;margin-left:221px;position:relative;height:60px;border:5px solid #ffc800;background:#fff;border-right:none;
		&:after {content:'';display: block;clear: both;}
		.s-btn {float:right;width:57px;height:50px;cursor:pointer;border:none;background:url(../img/ico5.png) no-repeat center #fff;}
		.s-sel {float:right;
			.jq-selectbox__select {border-radius:0;font-size:14px; color:#000000;height:50px;border:none;line-height:50px;background:#f5f5f5;border-left:1px solid #ececec;border-right:1px solid #ececec;padding:0 53px 0 20px;}
			.jq-selectbox__trigger-arrow {width: 16px;    height: 9px;    background: url(../img/arr3.png) no-repeat;}
		}
		.s-inp {overflow:hidden;
			.t-inp {width:100%;border:none;height:50px;line-height:50px;font-size:14px; padding:0 20px;}
		}
	}
	.h-cov {position:relative;float:left;
		.bask-drop {display:none;position:absolute;right:0;top:40px;background:#fff;box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);width:310px;    z-index: 10;color:#000;
			&:before {border:7px solid transparent;border-bottom:7px solid #fff;bottom:100%; z-index:10;right:10px;content:'';position:absolute;}
			table {margin:0;
				td  {vertical-align:middle;}
				tr + tr td {border-top:1px solid #ececec;} 
				.td-img {width:90px;padding:10px;
					.b-img {text-align:center;border:1px solid #ececec;width:70px;height:70px;line-height:68px;
						img {max-width: 84%;}
					}
				}
				.td-info {text-align:left;
					.b-name {font-size:12px;    line-height: 1.3;    margin-top: 5px;    height: 30px;    overflow: hidden;}
					.b-price {
						b {font-size:20px;font-weight:900;}
					}
				}
				.td-rem {width:30px;text-align:center;}
			}
			.btn {display:block;}
		}
		&:hover {
			.bask-drop {display:block;}
		}
	}
}
#mainafter, #mainafter2 {	background: rgba(41,41,41,0.8);	height: 100%;	opacity: 0;	-moz-opacity: 0;	visibility: hidden;	position: fixed;	top: 0;	left: 0;	width: 100%;	z-index: 99;
	-webkit-transition: opacity 0.2s ease-out 0.3s, visibility 0s 0.5s;
	-moz-transition: opacity 0.2s ease-out 0.3s, visibility 0s 0.5s;
	-ms-transition: opacity 0.2s ease-out 0.3s, visibility 0s 0.5s;
	-o-transition: opacity 0.2s ease-out 0.3s, visibility 0s 0.5s;
	transition: opacity 0.2s ease-out 0.3s, visibility 0s 0.5s;
}

.open #mainafter, .hid2 #mainafter2 {	opacity: 1;	visibility: visible;
	-webkit-transition: opacity 0.2s ease-out, visibility 0s 0s;
	-moz-transition: opacity 0.2s ease-out, visibility 0s 0s;
	-ms-transition: opacity 0.2s ease-out, visibility 0s 0s;
	-o-transition: opacity 0.2s ease-out, visibility 0s 0s;
	transition: opacity 0.2s ease-out, visibility 0s 0s;
}
#header:after {	opacity:0;		visibility: hidden;	background: rgba(41,41,41,0.8);	height: 100%;top:0;	z-index: -1;content:'';position:absolute;left:0;right:0;transition: opacity 0.2s ease-out 0.3s, visibility 0s 0.5s;}
.hid2 #header:after {	opacity: 1;visibility: visible;z-index: 99;	transition: opacity 0.2s ease-out, visibility 0s 0s;}
#mainafter2 {transition: opacity 0.2s ease-out 0.3s, visibility 0s 0s;	z-index: -1;}
.hid2 #mainafter2 {	transition: opacity 0.2s ease-out, visibility 0s 0s;z-index: 99;}

.mobile-button {position:relative;z-index:50; float:right; width:30px;height:32px;margin:0px 0px 0 21px;display:none;
	span {transition:all 0.3s ease-out;border-radius:2px;background:#fff;width:30px; height:1px; display:block;margin:15px auto 0px; position:relative;}
	span:before ,  span:after{transition:all 0.3s ease-out;content:'';background:#fff; height:1px;display:block;top:-7px;left:0;right:0; position:absolute;}
	span:after {top:auto;bottom:-7px;}
	&.open {
		span { background: transparent;border-color:transparent;}
		span:before { left: 0px;    right: 0px;    top: 0px;   transform: rotate(-45deg); -webkit-transform:rotate(-45deg);      -moz-transform:rotate(-45deg);       -ms-transform: rotate(-45deg);         -o-transform: rotate(-45deg);  }
		span:after {left: 0px;    right: 0px;    top:0px;   transform: rotate(45deg); -webkit-transform:  rotate(45deg);      -moz-transform: rotate(45deg);       -ms-transform:  rotate(45deg);         -o-transform:  rotate(45deg);   }
	}
}    

.pop-up {background:#fff;text-align:center;width: 380px; padding: 30px;border: 5px solid #ffc800;
	h3 {margin-bottom: 25px;}
	.btn {width:100%;}
	.form-row {margin:0 0 20px ;position:relative;}
	.form-row:last-child {    margin-bottom: 5px;}
	.eye {position:absolute;right:1px;top:1px;bottom:1px;background:url(../img/eye.png) no-repeat center #fff;width:40px;border:none;opacity:0.3;
		&:hover, &.active {opacity:0.6;}
		input {width:100%;height:100%;opacity:0;cursor:pointer;}
	}
	.t-inp {font-size:14px;height:40px;padding:4px 15px;line-height:30px;}
	textarea {font-size:14px;height:130px;padding:4px 15px;line-height:30px;}
	.placeholder {color:#b5b5b5;}
	.form-bot { margin-top:20px;   margin-bottom: -5px;
		a {border-bottom:1px solid #a9a9a9;
			&:hover {border-color:transparent;}
		}
	}
}
select {opacity:0;}
/*---------------- footer ----------------*/
#footer {clear:both;background:#f5f5f5;
	.foot-cont {
		overflow:hidden;padding:53px 0 26px;
		.wrapper {position:relative;}
		.foot-center {padding:0 276px 0 242px;width:100%;overflow:hidden;float:left;text-align-last:justify;text-align:justify;
			.foot-col {	display:inline-block;text-align-last:left;vertical-align:top;    min-width: 98px;
				.foot-opener {font-weight:500;color:#000000;font-size:16px;  margin-bottom: 19px;}
				.foot-nav {margin:0;list-style:none; clear:both;
					li {    margin-bottom: 10px;						
						a {	color:#292929;border-bottom:1px solid rgba(41,41,41,0.4);
							&:hover {border-color:transparent;}
						}
					}
					
				}	
			}
		}
		.foot-right {width: 190px;    margin-left: -190px;float:left;
			
		}
		.foot-left {position:absolute;left:20px;top:0px;
			.q-link {  
				a {  font-size: 14px;    padding: 0 0px 0 2px;    margin-right: -4px;
					span {border-bottom-style:solid;}
				}
			}
		}
		.foot-logo {opacity:0.3;    width: 161px;    margin-bottom: 15px;margin-top: -6px;}
		.foot-phone {margin-bottom: 13px;
			.foot-phone-link {color:#000000; font-size:20px;
				a {border:none;}
			}
		}
		.foot-rev {font-size:12px; color:#b5b5b5;    margin-top: 16px;    line-height: 1.3;
			a {border-bottom:1px solid #a3a3a3;
				&:hover {border-color:transparent;}
			}
		}

	}
	.foot-bot {font-size:12px;color:#b5b5b5;		clear:both; background:#292929; line-height:30px;padding:15px 0;
		.foot-copy {float:left;    margin-right: 5.5%;
			ul {float:left;margin:0;
				li {float:left;list-style:none;
					&:before {content:'/';color:#3a3a3a; margin:0 13px;}
					a {color:#b5b5b5; border-bottom:1px solid rgba(181,181,181,0.4);
						&:hover { border-color:transparent;}
					}
				}
			}
		}
		.copy {float:left;}
		.foot-soc {float:right;
			a { border:none;  margin: 0 -3px 0 28px;    display: inline-block;    vertical-align: middle;    width: 20px;    text-align: center;}
		}
		.foot-pay {overflow:hidden;text-align:center;
			.pay {display:inline-block;line-height:0;margin:0 13px 0 14px;vertical-align:middle;}
		}
	}
	.foot-title {font-weight:500;color:#000000; font-size:16px; margin-bottom: 13px;}	

}

.q-link {position:relative;
	&:before, &:after {content:'';width:22px; height:31px;display:inline-block;vertical-align:middle;background:url(../img/bg1.png) no-repeat right;}
	&:before {width:17px; transform: rotate(180deg); -webkit-transform:  rotate(180deg);-moz-transform: rotate(180deg)}
	a {font-size:12px; color:#292929;border:none;
		span {display:inline-block;border-bottom:1px dotted #8f8f8f; line-height:1;text-shadow:0 0;}
		img {margin:0 7px 0 0;}
		&:hover span {border-color:transparent;}
		&.link-call img {    margin: 0 11px 0 0;}
	}
}

/*--------------- content --------------*/
.content {position:relative;z-index:1;clear:both;padding-top:230px;display:block;}
section:after {content:'';display:block;clear:both;}

/* */
.btn{box-sizing:border-box;font-weight:bold; font-family: 'Roboto', arial;cursor:pointer;display:inline-block;border:none;text-align:center; font-size:18px;  line-height:50px;height:50px;padding:0 26px;
color:$btn_color;background:$btn_bg;overflow:hidden;text-decoration:none; border-radius:0px;box-shadow:none;transition:all 0.3s ease-out;
	&:hover {color:$btn_color; background:$btn_bg_hov; }
}
.btn-bord {border:2px solid $btn_bg; background:#fff;
	&:hover {color:$btn_color; background:$btn_bg_hov;border-color:$btn_bg_hov;}
}

.form-row {
	position:relative;margin-bottom:14px;
	&:after {content:'';display: block;clear: both;}
}

.t-inp, textarea{    padding: 10px 20px 10px 20px;  overflow:hidden;    white-space: nowrap;    text-overflow: ellipsis;display:block;width:100%;color:#1c1c1c;-webkit-appearance:none;height:50px;border:1px solid #d7d7d7;
font-size:18px;line-height:28px;background:#fff;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;
font-family:'Roboto',aria,sans-serif;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
textarea{height:120px;resize:none;overflow:auto;}
.t-inp.error, textarea.error {border-color:#ff0000;}

/* */
.section-top {	background:#ebebeb;padding:37px 0 37px;
	h1, .h1 {margin:0;line-height:1;}
	.subtitle {font-size:38px; font-weight:bold; color:#000000;line-height:1;    margin: 1px 0 25px;}
	.slider-top-img {float:left;text-align:center; width:45.85%;}
	.slider-top-cont {overflow:hidden;    padding-top: 63px;
		p {font-size:18px; color:#b5b5b5;margin-bottom: 34px;}
	}
	.slick-arrow {width:16px;height:68px;background:url(../img/arr-big.png) no-repeat center; background-size:16px 68px;margin-top:-34px;}
	.slick-dots {bottom: -6px;}
}
.section-piq {padding:19px 0;border-bottom:1px solid #ececec;
	.piqs { 
		.slick-list {margin:0 -10px;}
		.slick-slide {margin:0 10px;background:url(../img/bg1.jpg) repeat 0 0 #ffd600; padding:10px;max-height:111px;}
		.piq {display:table;width:100%;height:91px;
			.piq-img {display:table-cell;vertical-align:middle;     width: 92px;    text-align: center;}
			.piq-cont {display:table-cell;vertical-align:middle;    padding-left: 9px;}
			.piq-name {font-size:16px;font-weight:500;color:#000000;line-height: 1.1;    margin: 2px 0 5px;}
			p {    margin: 2px 0 0;    line-height: 1.3;font-size:12px;color:#5b5b5b;}
		}
	}	
}
.labl {font-size:12px;color:#fff;padding:0 10px 0 20px;line-height:21px;cursor:pointer;
	&.labl1 {background:#f2aa0f;}
	&.labl2 {background:#ff082a;}
	&.labl3 {background:#81bc47;}
	&.labl4 {background:#4781bc;}
	&.labl5 {background:#4752bc;}
}
.section-tovs {padding:35px 0 17px;position:relative;
	.tovs {border-left:1px solid #ececec;border-right:1px solid #ececec; margin-bottom:18px;
		&:after{content:'';display:block;clear:both;}
	}
	.tov { border:1px solid #ececec;border-left:none; padding:20px;    overflow: visible;height:400px;float:left;
		.tov-img {text-align:center;height:170px;line-height:170px;position:relative;
			a {    border-bottom: 1px solid transparent;}
			img {max-height:100%;}
			.abs {position:absolute;left:-20px;bottom:0;}
			.time {background:#fff;padding:0 10px 0 15px;font-size:12px;color:#292929;border:1px solid #ececec;border-left:none;line-height:19px;
				/*span {color:#ff082a;margin:0 1px 0 2px;}*/
				.countdown > div {display:inline-block;color:#ff082a;margin:0 1px 0 2px;}
			}
		}
		.tov-cat {font-size:12px;    margin: 15px 0 11px;    overflow: hidden;    white-space: nowrap;position:relative;
			&:after {content:'';position:absolute;top:0;right:0;bottom:0;width:20px;
background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); 
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
			}
			a {color:#b5b5b5;border-bottom:1px solid #e1e1e1;
				&:hover {border-color:transparent;}
			}
		}
		.tov-title {font-size:14px;    margin-bottom: 10px;height:40px; overflow:hidden;text-shadow:0 0;
			a {}
		}
		.tov-rate {
			.rating {display:inline-block;vertical-align:middle;    margin-right: 9px;}
			.comms-num {display:inline-block;vertical-align:middle;font-size:12px;color:#b5b5b5;}
		}
		.tov-bot {border-top:1px solid #ececec;padding-top:9px;    margin-top: 26px;    margin-bottom: -1px;
			&:after {content:'';display:block;clear:both;}
			.tov-price {float:left;position:relative;color:#000000;
				.price-curr {    line-height: 1.2;    margin-top: 5px;
					b {font-size:26px;font-weight:900;}
				}
				.price-old {position:absolute;background:#fff;left:0;top:-24px;padding-right:20px;  }
			}
			.btn-buy {float:right;width:40px;height:40px;background:url(../img/ico6.png) no-repeat center #ffc800;padding: 0;
				&:hover {background-color:$btn_bg_hov;}
			}
		}
		.tov-hid {display:none;padding-top:19px;border-top:1px solid #ececec;color:#292929;margin-top: 11px;
			.check label > span:before {content:'';display:inline-block;background:url(../img/ico2.png) no-repeat;width:7px;height:14px;    margin: 0 7px 0 -2px;vertical-align:middle;}
		}
	}
	.tov-cols {background:#f5f5f5;
		&:after{content:'';display:block;clear:both;}
	}
	.tovs-center {border-right:none;float:left;width:75%;padding-bottom:1px;margin:0;
		.tov {width:33.33%; margin-bottom:-1px;background:#fff;
			&:hover {height:450px;margin-bottom:-51px;position:relative;z-index:3; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
				.tov-hid {display:block;}
			}
		}
	}
	h1 {font-size:38px;    margin: -24px 0 14px;}
}
.section-tovs + .section-tovs {    padding-top: 1px;}
.price-old {white-space: nowrap;color:#000000; font-size:14px;
	b {font-size:20px;font-weight:900;position:relative;    display: inline-block;    margin-right: 4px;
		&:after {content:'';display:block;top:0;left:0;bottom:0;right:0;background:url(../img/line.png) no-repeat center;position:absolute;}
	}
}
.close {display:inline-block;width:10px;height:10px;background:url(../img/close1.png) no-repeat center;}
.hint {display:none;line-height:1.3;width:240px;margin-bottom: 9px;text-align:left; font-size:12px;color:#010101;position:absolute;bottom:100%;left:0;background:#fff;padding:10px 18px 11px;border: 2px solid #ffc800;box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	&:after {content:'';position:absolute;left:51px;border-right: 2px solid #ffc800;border-bottom: 2px solid #ffc800;transform:rotate(45deg);background:#fff;width:10px;height:10px;bottom:-7px;}
	.hint-txt {margin-bottom: 5px;}
	p {margin:0; color:#5b5b5b;}
	.close {position:absolute;top:6px;right:5px;}
}
.tov-sort {width:75%;color:#000; margin-bottom:25px;
	&:after {content:'';display:block;clear:both;}
	.sort-left {float:left;}
	.sort-right {float:right;
		a {    margin: 0 2px 0 11px;}
		span {    margin-right: 4px;}
	}
	a {color:#b5b5b5;display:inline-block;vertical-align:middle;    margin: 0 3px 0 12px;position:relative;border-bottom:1px dotted #e1e1e1;line-height:1;
		&.sort-price:after {margin-left:6px;content:'';display:inline-block;vertical-align:middle;background:url(../img/ico11.png) no-repeat;width:8px;height:5px;}
		&:hover {color:#000;border-bottom:1px dotted transparent;}
		&:after {content:'';display:inline-block;vertical-align:middle;}
		&.active {color:#000000;border:none;background:#ececec;padding:0 7px;line-height:20px;    margin: 0 -9px 0 0;
			&:before {content:'';border:4px solid transparent;border-top:4px solid #ececec;top:100%;left:50%;margin-left:-4px;position:absolute;}
		}
		&.za:after {width:5px;height:8px;background:url(../img/ico12.png) no-repeat; margin-left:5px;	}
		&.az:after {transform:rotate(180deg);width:5px;height:8px;background:url(../img/ico12.png) no-repeat; margin-left:5px;	}
	}	
}
.tov-sort-mob {display:none;    margin-bottom: 30px;    margin-top: 19px;
	&:after {content:'';display:block;clear:both;}
	a {float:left;border:1px solid #ececec;padding:0 12px;color:#b5b5b5;margin-right:9px;line-height:28px;height:30px;min-width:31px;text-align:center;position:relative;
		span {line-height:1;border-bottom:1px dotted #e1e1e1;display:inline-block;}
		&:after {content:'';display:inline-block;vertical-align:middle;}
		&.za:after {opacity:0.2;width:5px;height:8px;background:url(../img/ico12.png) no-repeat; }
		&.az:after {opacity:0.2;transform:rotate(180deg);width:5px;height:8px;background:url(../img/ico12.png) no-repeat; }
		&.active {background:#ececec;color:#000;
			&:before {content:'';border:4px solid transparent;border-top:4px solid #ececec;bottom:-9px;left:50%;margin-left:-4px;position:absolute;}
			&:after {opacity:1;}
			span {border-color:transparent;}
		}
		&:hover {color:#000;
			span {border-bottom:1px dotted transparent;}
			&:after {opacity:1;}
		}
	}
	.sort-par {    float: left;    margin-right: 41px;}
	.sort-dir a.active:before {display:none;}
}
.pagenavi {margin:22px 0 17px;
	&:after{content:'';display:block;clear:both;}
	span, a {float:left;text-align:center;font-size:16px;color:#000;font-weight:900;border:1px solid #ececec;margin-right:-1px;width:41px;height:41px;line-height:39px;}
	span {background:#ececec;position:relative;
		&:before {border:4px solid transparent;border-bottom:4px solid #ececec;top:-9px;left:50%;margin-left:-4px;content:'';position:absolute;}
	}
	a:hover {background:#ececec;}
	.prev {margin-right:9px;width:87px;}
	.next {margin-left:9px;width:87px;}
}
.checks {clear:both;
	.check {margin-bottom:10px;
		&:after{content:'';display:block;clear:both;}
		.jq-checkbox {float:left;}
		label {color:#292929;cursor:pointer;
			> span {display:block;overflow:hidden;}
		}
		input {float:left; opacity: 0;}
	}
}
.filter-side {float:right;width:25%;padding:1px 30px;
	.filter-item {border-bottom:1px solid #ececec;padding:13px 0 16px;
		.filter-title {font-weight:500;font-size:16px;color:#000;line-height:20px;padding:10px 0 10px 30px; position:relative;cursor:pointer;
			&:before {content:'';position:absolute;left:2px;top:17px;width:16px;height:9px;background:url(../img/arr5.png) no-repeat; }
		}
		.filter-cont {display:none;padding: 6px 0 0;}
		&.open {
			.filter-title {
				&:before {transform:rotate(180deg);}
				&:after {content:'';position:absolute;left:-30px;top:7px;border:13px solid transparent;border-left:8px solid #ffc800;}
			}
			.filter-cont {display:block;}
		}
		.checks {    margin-bottom: 13px;}
		.range_slider .checks {    margin-bottom: 0px;}
	}
}

.sec-top {
	&:after {content:'';display: block;clear: both;}
	.link-all {float:right;border-bottom:1px solid #a9a9a9;line-height:1;    margin-top: 11px;
		&:hover {border-color:transparent;text-decoration:none;}
	}
	h3 {float:left;    margin: 0 0 24px;}
}

.section-subsc {padding:35px 0;color:#fff;background:url(../img/bg2.jpg) repeat #222121;    margin-top: 25px;
	.subsc-title {float:left;font-size:24px;font-weight:900;    margin-right: 4.75%;    letter-spacing: -0.07px;
		&:before {content:'';width:50px;height:50px;display:inline-block;vertical-align:middle;margin:0 40px 0 0;background:url(../img/ico7.png) no-repeat center;}
	}
	.subs {position:relative;overflow:hidden;overflow:hidden;
		.btn {width:33%;float:right;padding:0;}
		.t-inp {float:left;width:67%;background:#323232;border:1px solid #3c3c3c;color:#b5b5b5;font-weight:500;font-size:18px;} 
	}
}

.section-brands {padding:36px 0 21px;
	.brands {border-left:1px solid #ececec;border-right:1px solid #ececec; margin-bottom:18px;
		.slick-slide {border:1px solid #ececec;border-left:none;text-align:center;height:121px;line-height:119px;}
	}
}

.section-news {	padding:35px 0 21px;border-top:1px solid #ececec;
	.news {border-left:1px solid #ececec;border-right:1px solid #ececec; margin-bottom:18px;
		&:after{content:'';display:block;clear:both;}
		.new {overflow:hidden;	position:relative;	float:left;padding:20px 13px 26px 20px;border:1px solid #ececec;border-left:none;height:141px;
			.new-title { height:60px;overflow:hidden;text-shadow:0 0;
				a {color:#010101;border-bottom:1px solid #999999;
					&:hover {border-color:transparent;}
				}
			}
			.new-date { font-size:12px;color:#b5b5b5;    margin: 6px 0 10px;}
		}
	}
}

.section-seo { padding:35px 0;border-top:1px solid #ececec;
	h1 {font-size:24px; color:#010101;    margin-bottom: 18px;}
}

.section-links {padding:26px 0 0px;
	.links {font-size:12px;color:#000000;text-shadow:0 0;margin:0;
		li {list-style:none;display:inline-block;}
		li + li:before {content:'';display:inline-block;margin:0 19px 0 16px;vertical-align:middle;width:6px;height:11px;background:url(../img/arr4.png) no-repeat center;}
		a {color:#b5b5b5;border-bottom:1px solid rgba(181,181,181,0.4);
			&:hover {border-color:transparent;}
		}
	}
}
.section-post {padding:10px 0 35px;}
.post{ position: relative;  margin-bottom: 43px;
	h1 {font-size:38px;}
	h2 {font-size:24px;    margin-top: 32px;    margin-bottom: 18px;}
	h2:first-child {margin-top:0;}
	p {}
	li {font-weight:bold;list-style:none;text-shadow:none;    margin-bottom: 10px;}
	ul {margin-bottom: 20px;
		li {position:relative;padding-left:21px;
			&:before {content:'';position:absolute; left:0;top:4px;border:5px solid transparent; border-left:5px solid #ffc800;}
		}
	}
	ol {margin-bottom: 20px;counter-reset: myCounter;
		li {
			&:before {counter-increment: myCounter;  content:counter(myCounter)'.';color:#ffc800; display:inline-block;margin-right:3px;}
		}
	}
	table {width:100%; text-align:center;
		th:first-child, td:first-child {text-align:left;width: auto;}
		th {background:#292929;color:#f5f5f5;font-size:16px;font-weight:500;height:50px;padding:0 22px;vertical-align:middle;text-shadow:none;    width: 25.5%;}
		th + th {border-left:1px solid #393939;}
		td {border:1px solid #ededed;border-top:none;padding:0 21px; height:40px;vertical-align:middle;}
	}
	blockquote {padding: 15px 20px;    letter-spacing: -0.22px; font-style:italic;display:block;margin-bottom:20px;color:#000;background:#fff4cc;
		p {margin:0;}
	}
	blockquote + h2 {    margin-top: 36px;}
	.text-column {column-count:2; margin-bottom: 16px;column-gap: 20px;}
	.scroll-h {    margin: 24px 0;}
}
body.hid {overflow:hidden;}

/* */
.check label {cursor:pointer;}
.item-cols {position:relative;margin: 0 0 17px;    padding-right: 310px;    min-height: 496px;     min-height: 580px;   padding-top: 15px;z-index: 2;
	&:after{content:'';display:block;clear:both;}
	.item-right {position:absolute;right:0;top:-115px;width:280px;
		.btns {overflow:hidden;margin:0 -20px;}
		.btn {display:block;padding:0;width:100%;}
		.buy-click {background:#fff;
			&:hover {background: #f5f5f5;}
		}
	}
	.item-black {background:#292929;box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);padding:25px 20px 0;height:490px;
		.item-art {color:#5b5b5b;    margin-bottom: 15px;}
		.check {color:#b5b5b5;
			input {opacity:0;}
			.jq-checkbox {background:#323232;border:1px solid #3c3c3c;}
			.jq-checkbox.checked {    background: #ffde66;    border: 1px solid #f1d25f;}
			label > span:before {    content: '';    display: inline-block;    background: url(../img/ico14.png) no-repeat;    width: 7px;    height: 14px;    margin: 0 7px 0 -2px;    vertical-align: middle;}
		}
		.tov-rate {    padding: 13px 0 16px;    margin: 20px 0 11px;overflow:hidden;border-top:1px solid #3c3c3c;border-bottom:1px solid #3c3c3c;
			.rating {float:left;
				img {margin-right:5px;}
			}
			.comms-num {float:right;color:#5b5b5b;line-height:30px;}
		}
		.sale {text-align:center;font-size:12px;color:#5b5b5b;margin-bottom: 7px;
			p {margin-bottom:6px;}
			.countdown {line-height:40px;
				div {display:inline-block;vertical-align:top;margin:0 1px;
					b {display:block;font-size:25px;font-weight:900;color:#000000;width:40px;height:40px;line-height:40px;background:#fff;
						background: linear-gradient(to bottom,  #ffffff 0%, #ffffff 20px, #c7c5c5 21px, #ececec 21px, #ececec 40px); 
					}
					span {display:block; line-height:20px;}
				}
			}
		}
		.tov-price {color:#fff;text-align:center;    margin-bottom: 3px;
			.price-old {color:#fff;
				b {font-weight:900;font-size:26px;}
			}
			.price-curr {line-height: 1.2;
				b {font-size:38px;font-weight:900;}
			}
		}
		.tov-disc {color:#ffc800;margin-bottom:20px;text-align:center;
			b {font-size:16px;}
		}
		.no-price {text-align:center;height: 218px;    padding-top: 43px;
			.big {color:#fff;font-weight:900;font-size:26px;    line-height: 30px;    margin-bottom: 19px;}
			.sm {color:#5b5b5b;}
		}
	}
	.piq-cov {background:url(../img/bg1.jpg) repeat 0 0 #ffd600; padding:10px;max-height:111px;margin:10px 0 19px;display:block;border:none;
		.piq {display:table;width:100%;height:91px;
			.piq-img {display:table-cell;vertical-align:middle;     width: 82px;    text-align: center;}
			.piq-cont {display:table-cell;vertical-align:middle;    padding-left: 9px;}
			p {     margin: -1px 0 0;    line-height: 1.45;font-size:12px;color:#5b5b5b;
				span {border-bottom:1px dotted rgba(0,0,0,0.4);font-size:14px;color:#000;}
			}
			&:hover p span {border-color:transparent;}
		}
	}
	.item-gal {float:left;width:470px;margin-right:30px;text-align:center;
		.img-slider {border:1px solid #ececec;}
		.img-slider-nav {margin-right:-10px;
			.slick-slide {border:1px solid #ececec;margin:10px 10px 0 0;height:80px;line-height:78px;font-size:0;position:relative; cursor:pointer; overflow:visible;
				img {max-height:100%;opacity:0.7;	
					/*-webkit-filter: grayscale(1);  -webkit-filter: grayscale(100%);  filter: grayscale(100%);  filter: url(#greyscale);  filter: gray;*/
    			}
			}
			.slick-current {border:1px solid #ffcc12;
				img{opacity:1;
				/*filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
   				 -webkit-filter: grayscale(0%);*/
   				}
				&:before {content:'';border-top:1px solid #ffcc12; border-left:1px solid #ffcc12;transform:rotate(45deg);background:#fff;position:absolute;top:-5px;left:50%;margin-left:-4px;width:6px;height:6px;}
			}
		}
	}
	.item-info {overflow:hidden;
		.scroll {overflow:hidden; height:433px;}
	}
	.item-tabs {overflow:hidden;margin:0 0 10px;
		li {float:left;width:33.33%;list-style:none;text-align:center;border-bottom:2px solid #ececec;margin-bottom:4px;position:relative;    height: 31px;
			a {color:#b5b5b5;border-bottom:1px dotted rgba(181,181,181,0.4);    display: inline-block;    line-height: 1;}
			a:hover {border-color:transparent;color:#333;}
			&.active {border-color:#ffc800;
				&:after { position:absolute; left:50%;margin-left:-4px;bottom:-10px;border:4px solid transparent;border-top:4px solid #ffc800; content:'';}
				a {border-color:transparent;color:#000;font-size:16px;font-weight:500;}
			}
		}
	}
	.item-panes {
		.item-pane {
			.item-table {width:100%;margin:0;
				th {text-align:left;color:#5b5b5b;font-weight:400;border-bottom:1px solid #ececec; width:200px;}
				td {color:#000000;border-bottom:1px solid #ececec;    height: 30px;    padding-top: 12px;    line-height: 14px;}
			}
			&.item-desc {
				>div {height:0;overflow:hidden;}
				>div.active {height:auto;margin-bottom:15px;    padding-top: 10px;}
				.scroll {height:380px;}
				p {margin-bottom: 10px;}
				.btn {width:100px;height:30px;font-size:14px;font-weight:500;line-height:26px;padding:0;    display: block;}
			}
		}
		.item-pane.hid {height:0;overflow:hidden;}
	}
	.item-bot {border:1px solid #ededed;    padding: 19px 20px;
		.item-stat {color:#81bc47;padding-left:36px;background:url(../img/ico15.png) no-repeat left;    line-height: 20px;    margin-bottom: 10px;
			&.no {color:#b5b5b5; background:url(../img/ico17.png) no-repeat left; }
		}
		.item-deliv {padding-left:36px;background:url(../img/ico16.png) no-repeat left;
			p {color:#000; margin: 0 0 1px;    line-height: 19px;
				b {font-size:16px;display:inline-block;}
			}
			a {font-size:12px; color:#b5b5b5;border-bottom:1px dotted rgba(181,181,181,0.4);}
			a:hover {border-color:transparent;color:#333;}
		}
	}
}

.fancybox-type-image .fancybox-skin {border:5px solid #ffc800;}
.section-item h1 {margin-right:300px;}

/*--------------------------------------------------------------------------------------*/
@media screen and (max-width:1220px){
	#header {
		.wrapper {padding:0;}
		.head-top .top-nav {padding-left:20px;}
		.head-mid {
			.wrapper {padding:0 20px;}
			.head-phone {text-align:left;
				.phone-link {margin-right:0;}
				span {display:block;}
			}
		}
		.head-cats {width:240px;
			.cat-name {padding-left:20px;}
		}
		.head-search {    margin-left: 241px;}
	}
	
	.section-top {
		.slider-top-img {    width: 42.65%;}
		.slider-top-cont {padding-top: 53px;}
	}
	.section-piq .piqs .piq .piq-img {    width: 70px;}
	.section-subsc .subsc-title{margin-right:30px;
		&:before {    margin: 0 30px 0 0;}
	}
	#footer {
		.foot-cont {
			.foot-center {    padding: 0 215px 0 190px;
				.foot-col {    min-width: 70px;}
			}
		}
		.foot-bot {
			.foot-copy {    margin-right: 3%;}
			.foot-pay .pay {margin:0 10px;}
			.foot-soc a {    margin: 0 -3px 0 22px;}
		}
	}
	.filter-side {    padding: 1px 20px;
		.filter-item.open .filter-title:after {    left: -20px;}
	}
	.range_slider .check + .check {    width: 47%;}

	.item-cols {position:static;padding-right: 300px;
		.item-gal {float:none;width:100%;margin:0 0 40px;
			.img-slider {line-height:388px;    height: 390px;font-size:0;overflow:hidden;
				img {max-height:380px;}
			}
		}
		.item-right {    right: 20px;    top: -43px;}
		.item-black {    height: 540px;
			.item-art {    margin-bottom: 25px;}
			.tov-rate {    margin: 30px 0 21px;}
			.sale {    margin-bottom: 17px;}
			.tov-disc {    margin-bottom: 30px;}
			.no-price {height: 238px;    padding-top: 48px;}
		}
		.item-info {
			.scroll {    height: 276px;}
		}
		.item-panes .item-pane.item-desc {overflow:hidden;
			.scroll {    height: 220px;}
			.btn {margin-bottom:1px;}
		}

	}
	.section-item h1 {line-height: 48px;    margin: -24px 300px 15px 0;}

}	
@media screen and (max-width:1023px){	
	#header {
		&.fix {top: -70px;
			.head-search .s-sel {display:none;}
		}
		&.open {
			.head-mid .h-cov {z-index:2;}
		}
		.head-top {background:#fff;padding-right:178px;height:70px;
			.top-nav {display:none;}
			.logo {display:block; margin:22px 0 0 22px;float:left;}
			.h-user, .h-comp {height:70px;background:#fff;margin:0;border-left:1px solid #ececec;width:70px;}
			.h-comp {
				&:before {    margin: 7px 1px 0 0;}
				span {right: 13px;}
			}
		}
		.head-mid {padding:0;height:0;
			.head-phone, .head-links {display:none;}
			.h-cov {   z-index: 50;position:absolute;top:0;right:0; }
			.head-bask { width:178px;height:70px;line-height:70px;border-left:1px solid #ececec;padding-right: 18px;
				span {margin:0;right:13px;position:absolute;top:6px;}
			}
			.logo {display:none;}
		}
		.h-place {width:210px;border-left:1px solid #ececec;height:70px;background:#fff;
			.jq-selectbox__select { padding:0 45px 0 44px;height:70px;margin-top:0;    line-height: 70px;background-position:25px center;}
			.jq-selectbox__dropdown {top:70px;}
			.jq-selectbox__trigger-arrow {    right: 25px;}
		}
		.head-search .s-sel {    width: 191px;}
	}
	.content {padding-top:130px;}
	#footer {
		.foot-cont {padding:0;
			.wrapper {padding:0;}
			.foot-center {    padding:52px 20px 28px 45px;float:right;width:69%; border-left:1px solid #ececec;text-align-last:left;text-align:left;
				.foot-col {width:37%;margin-right:-3px;margin-bottom: 18px;
					&:nth-child(even) {width:63%}  
					&:nth-child(2) ul {position:relative;
						li:last-child {    position: absolute;    right: 0;    top: 0;    width: 43%;}
					}  
				}
			}
			.foot-left {float:left;position:relative;top:0;left:0;margin:0;    text-align: center;    width: 31%;padding:44px 0 40px;}
			.foot-right {float:left;position:relative; border-top:1px solid #ececec; margin-left:0;   text-align: center;    width: 31%;padding:41px 0;}
			.foot-logo {margin:0 auto 15px;}
			.foot-rev {width:164px;margin:16px auto 0;}
		}
		.foot-bot {
			.foot-copy {     margin-right: 0;    margin-bottom: 15px;}
			.foot-pay {clear:both;border-top:1px solid #353535;margin:15px -20px 0; padding-top:15px;}
			.foot-soc {margin-right: 11px;}
		}
	}
	.section-subsc {
		.subsc-title {width: 233px;    margin: -6px 20px -8px 0;    line-height: 1.25;
			&:before {display:none;}
		}
		.subs {
			.t-inp {width:60%;}
			.btn {width:40%;}
		}
	}
	.section-top {
		.wrapper {padding:0;}
		.slick-slide {padding:0 10px;}
		.slider-top-img {float:right;width: 52.65%;}
		.slider-top-cont {position:absolute;overflow:visible;padding-left:10px;padding-top: 43px;} 
		.bg-cont {background:#fff;display:inline-block;margin-left:-20px;padding: 10px 18px 16px 18px;    margin-bottom: 29px;}
		.subtitle{margin-bottom:0;}
		.btn {    padding: 0 46px;}
	}
	.section-piq .piqs {
		.slick-list {margin:0 -5px 0px;}
		.slick-track {max-width:100%;min-width:100%;}
		.slick-slide {width:17.5%;margin:0;border:5px solid #fff;border-width:0 5px;transition:all 0.3s ease-out;
			.piq-cont {display:none;}
			.piq {
				.piq-img {    width: 100%;}
			}
			&.open {width:65%;
				.piq-cont {display:table-cell;}
				.piq {
					.piq-img {    width: 92px;}
				}
			}
		}	
	}
	.section-news {border:none;    padding-top: 0px;    margin-top: -4px;}
	.section-seo {border:none;    padding-top: 16px;    padding-bottom: 56px;}
	.post {
		table {
			th:first-child {min-width:243px;}
			th {min-width:242px;}
		}
		.scroll-h { overflow-x:auto;padding-right: 1px;} 
	}
	.section-tovs {
		.tov { height: 450px;
			.tov-hid {display:block;}
		}
		.tovs-center {width: 66.6%;
			.tov {    width: 50%;    height: 450px;
				.tov-hid {display:block;}
				&:last-child {display:none;}
				&:hover {margin-bottom:-1px;}
			}
		}
	}
	.tov-sort {display:none;}
	.tov-sort-mob {display:block;}
	.filt-btn {display:none;}
	.filter-side {    width: 33.4%;}
	.range_slider .check + .check {    width: 48%;    margin-right: -3px;}

}
@media screen and (max-width:909px){
	#header .head-cats {position:static;
		.cat-name {}
		.cats {width:100%;
			li {
				ul {    column-count: 1;}
				.drop {padding-bottom:0;    width: auto;    right: 0;}
				.drop-img {position:relative;bottom:0;left:0;right:0;}
			}
		}
	}
}
@media screen and (max-width:767px){
	#header {
		&,fix {

		}
		.head-search {
			.s-sel {    width: 170px;}
		}
		.head-mid {
			.head-bask {font-size:0;width:70px;    padding-right: 3px;
				&:before {margin-right:0;}
			}
		}
		.head-top {    padding-right: 70px;	}
		.head-cats {    width: 230px;
			.cat-name:before {    margin: 0 14px 0 0;}
			.cat-name:after { margin: 0 0px 0 15px;}
		}
		.head-search {    margin-left: 231px;}
	}
	.section-subsc {
		.subsc-title {width:100%;margin:-6px 0 16px;	float:none;	font-size:0;
			&:after {content:'Рассылка акций и спецпредложений';font-size:24px;}
		}
	}
	#footer {
		.foot-cont {
			.foot-center {border:none;padding:30px 20px;width:100%;float:none;border-bottom:1px solid #ececec;}
			.foot-left {width:50%;height:229px;    padding: 66px 0 20px;}
			.foot-right {width:50%;height:229px;border:none;border-left:1px solid #ececec;padding: 32px 0px;}
		}
		.foot-bot {
			.foot-copy {float:none;text-align:center;
				.copy {float:none;display:inline-block;vertical-align:middle;}
				ul {float:none;display:inline-block;vertical-align:middle;}
			}
			.foot-soc {float:none;text-align:center;     margin: -5px 32px 15px 0;}
		}
	}
	.section-top .slider-top-cont p {width:200px;}
	.post {margin-bottom: 24px;
		.text-column {column-count:1;}
		ol li:before {    margin-right: 8px;}
		table {
			th:first-child {min-width:119px; max-width:120px;}
			th {min-width:159px;}
		}
	}
	.section-tovs {
		.tovs-center {    width: 100%;}
		.tov-cols {position:relative;}
		.section-tovs h1 {    margin: -25px 0 18px;    line-height: 49px;}
	}
	.tov-sort-mob {
		.sort-par {	    float: none;	    margin-right: -10px;margin-bottom:20px;
			&:after{content:'';display:block;clear:both;}
		}
		.filt-btn {display:block;float:right;margin:0;background:#292929;color:#ffc800;padding:0 12px;border-color:#292929;z-index:100;position:relative;
			span {border-bottom:1px dotted #7c6718;color:#ffc800;}
			&:before {width:21px;height:17px;background:url(../img/ico13.png) no-repeat;display:inline-block;vertical-align:middle;margin:0 10px 0 0;content:'';}
		}
	}
	.filter-side {display:none; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);z-index:100;position:absolute;top:-30px;right:0; background:#f5f5f5;width:275px;
		&.open {display:block;}
	}
	.section-item h1 { margin: -24px 0px 15px 0;}
	.item-cols {padding:16px 0 0;
		.item-right {position:static;width:100%;margin-bottom:39px;}
		.piq-cov .piq {    margin: 0 auto;    max-width: 350px;
			p {
				br{display:none;}
			}
		}
		.item-black {height:340px;padding: 20px 20px 0;
			.item-art {float:right;    margin-bottom: 20px;}
			.check {overflow:hidden;}
			.sale {float:left;    width: 49%;    margin: 0 9% 12px -3px;}
			.tov-rate {    margin: 20px 0 21px;    clear: both;}
			.tov-price {overflow:hidden;}
			.tov-disc {clear:both;}
			.btn {float:left;width:50%;}
			.no-price {    height: 148px;    padding-top: 28px;}
		}
		.item-gal {margin: 0 0 20px;}
	}

}

@media screen and (max-width:639px){
	#header {
		&.fix {top: -70px;
			.head-cats {    width: 90px;
				.cat-name {font-size:0;
					&:after {margin-left:0;}
				}
			}
			.head-search {margin-left:91px;}
		}
		.head-search {
			.s-sel {display:none;}
		}
		.head-top {    padding-right: 70px;
			.h-user, .h-comp  {width:60px;}
		}
		.h-place {width:60px;
			.jq-selectbox__select {padding:0;text-align:center;font-size:0;background-position:center;
				.jq-selectbox__select-text {border:none;}
			}
			.jq-selectbox__trigger {display:none;}
			.jq-selectbox__dropdown {    min-width: 249px;}
		}
		.head-cats .cats {width:330px;
			li .drop {display:none;}
		}
		.head-cats .cats li.active > a:after {-webkit-transform: rotate(-45deg);    -ms-transform: rotate(-45deg);    transform: rotate(-45deg);}
	}
	#footer {
		.foot-cont {
			.foot-center {
				.foot-col {display:block;width:100%;margin-bottom:1px;
					&:nth-child(even) {width:100%;}
					.foot-opener {background:#ebebeb;margin:0;padding:0 15px;line-height:49px;position:relative;cursor:pointer;
						&:after {content:'';border-right:2px solid #000000;border-bottom:2px solid #000000;    width: 8px;    height: 8px;    right: 17px;    top: 19px;transform:rotate(45deg);position:absolute;}
						&.open:after {transform:rotate(-135deg);}
					}
					.foot-nav {display:none;padding:20px;
						&.open {display:block;}
					}
				}
				.foot-col:nth-child(2) ul li:last-child {position:static;}
			}
		}
	}
	.section-top {padding:25px 0 36px;
		.subtitle {display:none;}
		.slider-top-img {    width: 55%;position:absolute;right:0;top:0;    margin-right: 18px;}
		.slider-top-cont {    padding-top: 55px;padding-right:10px;position:relative;padding-bottom:35px;
			.bg-cont {width:364px;    padding: 14px 18px 19px 18px;margin-bottom: 32px;}
			.h1 {    line-height: 0.85;}
			p {    width: 200px;    line-height: 1.15;    margin-bottom: 37px;}
			.btn {display:block;}
		}

	}
	.section-piq .piqs {padding-right:40px;
		.slick-arrow {height:100%;top:0;margin:0;}
		.slick-prev {opacity:0;}
		.slick-track {    max-width: 9999px;    min-width: 0;}
		.slick-slide {
			.piq-cont {display:table-cell;}
			.piq {
				.piq-img {    width: 92px;}
			}
		}
	}
	.sec-top {
		.link-all {font-size:0;
			&:before {content:'Смотреть все';font-size:14px;}
		}
	}
	.section-tovs {
		
		.tov .tov-hid label >span {font-size:0;height:17px;display:inline-block;vertical-align:middle;    line-height: 16px;
			&:after {font-size:14px;content:'Сравнить';vertical-align:middle;display:inline-block;}
		}
	}


}